---
title: Writing
layout: subpage
---

<div class="container">
	<div class="grid grid--full">
		<h1>Writing</h1>
		<h2>On Design, Leadership, and Life as a Creative</h2>
	</div>
</div>

<div class="container">
	{% for post in site.categories.blog limit:9  %}

    <div class="post-listing__single{% if forloop.last %} last{% endif %} {{ post.categories | last }}">
		<h5>{{ post.date | date:'%B %-d, %Y' }}</h5>
		<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		<p>{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
	</div>

	{% endfor %}

	<a href="blog.html">Full archive</a>
</div>

{% include article-list-design.html %}

{% include article-list-popular.html %}

{% include article-list-topic.html %}