---
title: Writing
layout: subpage
---

<header data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="header-bg-watercolour --writing-archives"></div>
		<h1>Archive</h1>
		<div class="line-one"></div>
		<h2>All posts categorized as "Tech"</h2>
	</div>
</header>

<div class="container">
	{% for post in site.categories.tech %}
	<div class="writing__single"
		data-aos="fade-up" 
		data-aos-offset="50" 
		data-aos-duration="1000"
		data-aos-easing="ease-out-quad">
		<h6>{{ post.date | date:'%B %-d, %Y' }}</h6>
		<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
		<p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
	</div>
	{% endfor %}
</div>

{% include article-list-design.html %}

{% include article-list-popular.html %}

{% include article-list-topic.html %}