---
title: Writing
layout: subpage
---

<div class="container">
	<div class="grid grid--full">
		<h1>Archive</h1>
		<h2>All posts categorized as "Leadership"</h2>
	</div>

	{% for post in site.categories.leadership %}

    <div class="post-listing__single{% if forloop.last %} last{% endif %} {{ post.categories | last }}">
		<h5>{{ post.date | date:'%B %-d, %Y' }}</h5>
		<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		<p>{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
	</div>

	{% endfor %}

	<h2>Latest posts</h2>

	{% for post in site.categories.blog limit:4  %}

    <div class="post-listing__single{% if forloop.last %} last{% endif %} {{ post.categories | last }}">
		<h5>{{ post.date | date:'%B %-d, %Y' }}</h5>
		<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		<p>{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
	</div>

	{% endfor %}

	<a href="writing-archives.html">Full archive</a>

	{% include article-list-popular.html %}
	
	<h2>By topic</h2>
	
	<p>View all in one category: <a href="writing-category-design.html">Design</a>, Leadership, <a href="writing-category-tech.html">Tech</a>, <a href="writing-category-life.html">Life</a>, <a href="writing-category-creative.html">Creative</a>, <a href="writing-category-website.html">Website</a></p>
</div>