---
title: Full Archives
layout: subpage
---

<header data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="header-bg-watercolour --writing-archives"></div>
		<h1>Full Archive</h1>
		<div class="line-one  --writing"></div>
		<div class="grid grid--full">
			<div class="grid__item push--two--one-eleventh two--ten-elevenths"><h2>All posts listed by year</h2></div>
		</div>
	</div>
</header>

<section class="fullarchive-2017"
	data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="grid grid--full">
			<div class="grid__item push--three--one-eleventh three--ten-elevenths">
				<div class="line-two"></div>
				<h4>2017</h4>
				<div class="grid grid--full">
					<div class="grid__item push--two--one-eleventh two--ten-elevenths three--hide">
					{% assign posts2017 = site.posts | where:"date","2017" %}
					{% assign rows = posts2017.size | divided_by: 2.0 | ceil %}
					{% for i in (1..rows) %}
				  		{% assign offset = forloop.index0 | times: 2 %}
					  	<div class="grid">
						    {% for post in posts2017 limit:2 offset:offset %}
								<div class="grid__item one--one-half">
									<div class="writing__single no-margin"
										data-aos="fade-up" 
										data-aos-offset="50" 
										data-aos-duration="1000"
										data-aos-easing="ease-out-quad">
										<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
										<h3 class="smaller"><a href="{{ post.url }}">{{ post.title }}</a></h3>
									</div>
								</div>
						    {% endfor %}
					  	</div>
					{% endfor %}
					</div>

					<div class="grid__item push--three--one-eleventh three--ten-elevenths zero--hide three--show">
					{% assign posts2017b = site.posts | where:"date","2017" %}
					{% assign rowsb = posts2017b.size | divided_by: 3.0 | ceil %}
					{% for i in (1..rowsb) %}
				  		{% assign offsetb = forloop.index0 | times: 3 %}
					  	<div class="grid">
						    {% for post in posts2017b limit:3 offset:offsetb %}
								<div class="grid__item three--one-third">
									<div class="writing__single"
										data-aos="fade-up" 
										data-aos-offset="50" 
										data-aos-duration="1000"
										data-aos-easing="ease-out-quad">
										<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
										<h3 class="smaller"><a href="{{ post.url }}">{{ post.title }}</a></h3>
									</div>
								</div>
						    {% endfor %}
					  	</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="fullarchive-2016"
	data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="grid grid--full">
			<div class="grid__item three--ten-elevenths">
				<div class="line-one"></div>
				<h4>2016</h4>

				<div class="grid grid--full">
					<div class="grid__item push--two--one-eleventh two--ten-elevenths three--hide">
					{% assign posts2016 = site.posts | where:"date","2016" %}
					{% assign rows = posts2016.size | divided_by: 2.0 | ceil %}
					{% for i in (1..rows) %}
				  		{% assign offset = forloop.index0 | times: 2 %}
					  	<div class="grid">
						    {% for post in posts2016 limit:2 offset:offset %}
								<div class="grid__item one--one-half">
									<div class="writing__single no-margin"
										data-aos="fade-up" 
										data-aos-offset="50" 
										data-aos-duration="1000"
										data-aos-easing="ease-out-quad">
										<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
										<h3 class="smaller"><a href="{{ post.url }}">{{ post.title }}</a></h3>
									</div>
								</div>
						    {% endfor %}
					  	</div>
					{% endfor %}
					</div>

					<div class="grid__item push--three--one-eleventh three--ten-elevenths zero--hide three--show">
					{% assign posts2016b = site.posts | where:"date","2016" %}
					{% assign rowsb = posts2016b.size | divided_by: 3.0 | ceil %}
					{% for i in (1..rowsb) %}
				  		{% assign offsetb = forloop.index0 | times: 3 %}
					  	<div class="grid">
						    {% for post in posts2016b limit:3 offset:offsetb %}
								<div class="grid__item three--one-third">
									<div class="writing__single"
										data-aos="fade-up" 
										data-aos-offset="50" 
										data-aos-duration="1000"
										data-aos-easing="ease-out-quad">
										<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
										<h3 class="smaller"><a href="{{ post.url }}">{{ post.title }}</a></h3>
									</div>
								</div>
						    {% endfor %}
					  	</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="fullarchive-2015"
	data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="grid grid--full">
			<div class="grid__item push--three--one-eleventh three--ten-elevenths">
				<div class="line-two"></div>
				<h4>2015</h4>

				<div class="grid grid--full">
					<div class="grid__item push--two--one-eleventh two--ten-elevenths three--hide">
					{% assign posts2015 = site.posts | where:"date","2015" %}
					{% assign rows = posts2015.size | divided_by: 2.0 | ceil %}
					{% for i in (1..rows) %}
				  		{% assign offset = forloop.index0 | times: 2 %}
					  	<div class="grid">
						    {% for post in posts2015 limit:2 offset:offset %}
								<div class="grid__item one--one-half">
									<div class="writing__single no-margin"
										data-aos="fade-up" 
										data-aos-offset="50" 
										data-aos-duration="1000"
										data-aos-easing="ease-out-quad">
										<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
										<h3 class="smaller"><a href="{{ post.url }}">{{ post.title }}</a></h3>
									</div>
								</div>
						    {% endfor %}
					  	</div>
					{% endfor %}
					</div>

					<div class="grid__item push--three--one-eleventh three--ten-elevenths zero--hide three--show">
					{% assign posts2015b = site.posts | where:"date","2015" %}
					{% assign rowsb = posts2015b.size | divided_by: 3.0 | ceil %}
					{% for i in (1..rowsb) %}
				  		{% assign offsetb = forloop.index0 | times: 3 %}
					  	<div class="grid">
						    {% for post in posts2015b limit:3 offset:offsetb %}
								<div class="grid__item three--one-third">
									<div class="writing__single"
										data-aos="fade-up" 
										data-aos-offset="50" 
										data-aos-duration="1000"
										data-aos-easing="ease-out-quad">
										<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
										<h3 class="smaller"><a href="{{ post.url }}">{{ post.title }}</a></h3>
									</div>
								</div>
						    {% endfor %}
					  	</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="fullarchive-2014"
	data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="grid grid--full">
			<div class="grid__item three--ten-elevenths">
				<div class="line-one"></div>
				<h4>2014</h4>

				<div class="grid grid--full">
					<div class="grid__item push--two--one-eleventh two--ten-elevenths three--hide">
					{% assign posts2014 = site.posts | where:"date","2014" %}
					{% assign rows = posts2014.size | divided_by: 2.0 | ceil %}
					{% for i in (1..rows) %}
				  		{% assign offset = forloop.index0 | times: 2 %}
					  	<div class="grid">
						    {% for post in posts2014 limit:2 offset:offset %}
								<div class="grid__item one--one-half">
									<div class="writing__single no-margin"
										data-aos="fade-up" 
										data-aos-offset="50" 
										data-aos-duration="1000"
										data-aos-easing="ease-out-quad">
										<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
										<h3 class="smaller"><a href="{{ post.url }}">{{ post.title }}</a></h3>
									</div>
								</div>
						    {% endfor %}
					  	</div>
					{% endfor %}
					</div>

					<div class="grid__item push--three--one-eleventh three--ten-elevenths zero--hide three--show">
					{% assign posts2014b = site.posts | where:"date","2014" %}
					{% assign rowsb = posts2014b.size | divided_by: 3.0 | ceil %}
					{% for i in (1..rowsb) %}
				  		{% assign offsetb = forloop.index0 | times: 3 %}
					  	<div class="grid">
						    {% for post in posts2014b limit:3 offset:offsetb %}
								<div class="grid__item three--one-third">
									<div class="writing__single"
										data-aos="fade-up" 
										data-aos-offset="50" 
										data-aos-duration="1000"
										data-aos-easing="ease-out-quad">
										<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
										<h3 class="smaller"><a href="{{ post.url }}">{{ post.title }}</a></h3>
									</div>
								</div>
						    {% endfor %}
					  	</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>