---
title: Writing
layout: archive
---

<div class="container">
	<div class="grid grid--full">
		<h1>Archive</h1>
		<h2>All posts categorized as "Tech"</h2>
	</div>

	{% for post in site.categories.tech %}

    <div class="post-listing__single{% if forloop.last %} last{% endif %} {{ post.categories | last }}">
		<h5>{{ post.date | date:'%B %-d, %Y' }}</h5>
		<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 25 }}</p>
	</div>

	{% endfor %}

	<h2>Latest posts</h2>

	{% for post in site.categories.blog limit:4  %}

    <div class="post-listing__single{% if forloop.last %} last{% endif %} {{ post.categories | last }}">
		<h5>{{ post.date | date:'%B %-d, %Y' }}</h5>
		<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 25 }}</p>
	</div>

	{% endfor %}

	<a href="writing-archives.html">Full archive</a>

	<h2>Most popular</h2>
	
	<p>These are my most popular articles across all channels:</p>
	<ul>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
	</ul>

	<h2>By topic</h2>
	
	<p>View all in one category: <a href="writing-category-design.html">Design</a>, <a href="writing-category-leadership.html">Leadership</a>, Tech, <a href="writing-category-life.html">Life</a>, <a href="writing-category-creative.html">Creative</a>, <a href="writing-category-website.html">Website</a></p>
</div>