---
title: Full Archives
layout: subpage
---

<div class="container">
	<h1>Full Archive</h1>
	<h2>All posts listed by year</h2>

	<h2>2017</h2>

	{% for post in site.posts %}
		{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
		{% if year == "2017" %}
			<h5>{{ post.date | date:'%B %-d' }} {{ post.categories | last }}</h5>
			<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		{% endif %}
	{% endfor %}

	<h2>2016</h2>

	{% for post in site.posts %}
		{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
		{% if year == "2016" %}
			<h5>{{ post.date | date:'%B %-d' }} {{ post.categories | last }}</h5>
			<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		{% endif %}
	{% endfor %}

	<h2>2015</h2>

	{% for post in site.posts %}
		{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
		{% if year == "2015" %}
			<h5>{{ post.date | date:'%B %-d' }} {{ post.categories | last }}</h5>
			<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		{% endif %}
	{% endfor %}

	<h2>2014</h2>

	{% for post in site.posts %}
		{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
		{% if year == "2014" %}
			<h5>{{ post.date | date:'%B %-d' }} {{ post.categories | last }}</h5>
			<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		{% endif %}
	{% endfor %}

</div>