---
title: Writing
layout: subpage
---

<header data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="header-bg-watercolour --writing-archives"></div>
		<h1>Archive</h1>
		<div class="line-one  --writing"></div>
		<div class="grid grid--full">
			<div class="grid__item push--two--one-eleventh"><h2>All posts categorized as "Design"</h2></div>
		</div>
	</div>
</header>

<div class="container">
	<div class="grid grid--full">
		<div class="grid__item push--two--one-eleventh two--ten-elevenths three--hide">
			{% assign rows = site.categories.design.size | divided_by: 2.0 | ceil %}
			{% for i in (1..rows) %}
		  		{% assign offset = forloop.index0 | times: 2 %}
			  	<div class="grid">
				    {% for post in site.categories.design limit:2 offset:offset %}
						<div class="grid__item one--one-half">
							<div class="writing__single no-margin"
								data-aos="fade-up" 
								data-aos-offset="50" 
								data-aos-duration="1000"
								data-aos-easing="ease-out-quad">
								<h6>{{ post.date | date:'%B %-d, %Y' }}</h6>
								<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
								<p>{{ post.excerpt | strip_html | truncatewords: 14 }}</p>
							</div>
						</div>
				    {% endfor %}
			  	</div>
			{% endfor %}
		</div>
		<div class="grid__item push--three--one-eleventh three--ten-elevenths zero--hide three--show">
			{% assign rows2 = site.categories.design.size | divided_by: 3.0 | ceil %}
			{% for i in (1..rows2) %}
		  		{% assign offset = forloop.index0 | times: 3 %}
			  	<div class="grid">
				    {% for post in site.categories.design limit:3 offset:offset %}
						<div class="grid__item three--one-third">
							<div class="writing__single"
								data-aos="fade-up" 
								data-aos-offset="50" 
								data-aos-duration="1000"
								data-aos-easing="ease-out-quad">
								<h6>{{ post.date | date:'%B %-d, %Y' }}</h6>
								<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
								<p>{{ post.excerpt | strip_html | truncatewords: 14 }}</p>
							</div>
						</div>
				    {% endfor %}
			  	</div>
			{% endfor %}
		</div>
	</div>
</div>

{% include archive-footer.html %}