---
title: Full Archives
layout: subpage
---

<header data-aos="fade-up" 
	data-offset="50" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="header-bg-watercolour --writing-archives"></div>
		<h1>Full Archive</h1>
		<div class="line-one"></div>
		<h2>All posts listed by year</h2>
	</div>
</header>

<section class="fullarchive-2017"
	data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="line-two"></div>
		<h4>2017</h4>

		{% for post in site.posts %}
			{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
			{% if year == "2017" %}
			<div class="writing__single">
				<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</section>
<section class="fullarchive-2016"
	data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="line-one"></div>
		<h4>2016</h4>

		{% for post in site.posts %}
			{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
			{% if year == "2016" %}
			<div class="writing__single">
				<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</section>
<section class="fullarchive-2015"
	data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="line-two"></div>
		<h4>2015</h4>

		{% for post in site.posts %}
			{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
			{% if year == "2015" %}
			<div class="writing__single">
				<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</section>
<section class="fullarchive-2014"
	data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="line-one"></div>
		<h4>2014</h4>

		{% for post in site.posts %}
			{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
			{% if year == "2014" %}
			<div class="writing__single">
				<h6>{{ post.date | date:'%B %-d' }} <span class="alt">{{ post.categories | last }}</span></h6>
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</section>