<div class="three--container">
	<div class="grid grid--full">
		<div class="grid__item three--seven-elevenths">
			<section class="archive-design">
				<div class="archive-design__header"
						data-aos="fade-up" 
						data-aos-duration="1000"
						data-aos-easing="ease-out-quad">
					<div class="line-two"></div>
					<h4>latest in design</h4>
				</div>

				<div class="grid">
					<div class="grid__item push--two--one-eleventh two--ten-elevenths push--three--none three--one-whole">
						<div class="writing__group">
							{% assign rows = 4 | divided_by: 2 | ceil %}
							{% for i in (1..rows) %}
						  		{% assign offset = forloop.index0 | times: 2 %}
							  	<div class="grid">
								    {% for post in site.categories.design limit:2 offset:offset %}
										<div class="grid__item one--one-half">
											<div class="writing__single"
												data-aos="fade-up" 
												data-aos-offset="50" 
												data-aos-duration="1000"
												data-aos-easing="ease-out-quad">
												<h6>{{ post.date | date:'%B %-d, %Y' }}</h6>
												<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
												<p>{{ post.excerpt | strip_html | truncatewords: 14 }}</p>
											</div>
										</div>
								    {% endfor %}
							  	</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
		</div>

		<div class="grid__item three--four-elevenths">
			<div class="grid">
				<div class="grid__item one--one-half three--one-whole">
					<div class="archive-popular__header"
						data-aos="fade-up" 
						data-aos-duration="1000"
						data-aos-easing="ease-out-quad">
						<h4>most popular</h4>
					</div>
					<div class="archive-popular__body">
						<p>These are my most popular articles across all channels:</p>
						<ul>
							<li><p><a href="http://helentran.com/anopenletter">An Open Letter to Fem-Designers-in-Tech</a></p></li>
							<li><p><a href="http://helentran.com/theobviousquestion">The Obvious Question</a></p></li>
							<li><p><a href="http://helentran.com/dateswithlucy">Dates with Lucy</a></p></li>
							<li><p><a href="http://helentran.com/twohabits">Two Habits that Changed my Career</a></p></li>
							<li><p><a href="http://helentran.com/retrospectivesbringmeproblems">Retrospectives: Bring Me Only Problems</a></p></li>
						</ul>
					</div>
				</div>
				<div class="grid__item one--one-half three--one-whole">
					<div class="archive-topic__header"
						data-aos="fade-up" 
						data-aos-duration="1000"
						data-aos-easing="ease-out-quad">
						<h4>by topic</h4>
					</div>
					<div class="archive-topic__body">
						<p>View all in one category: <a href="writing-category-design.html">Design</a>, <a href="writing-category-leadership.html">Leadership</a>, <a href="writing-category-tech.html">Tech</a>, <a href="writing-category-life.html">Life</a>, <a href="writing-category-creative.html">Creative</a>, <a href="writing-category-website.html">Website</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>