            <footer class="site-footer text-center">
            	<div class="wrapper">
	        		<p class="h5 social">Follow me on <a href="http://twitter.com/tranhelen" class="twitter">Twitter</a>, <a href="http://dribbble.com/tranhelen" class="dribbble">Dribbble</a>, <a href="http://instagram.com/tranhelen" class="instagram">Instagram</a></p>
	            	<p class="copyright">2014 &copy; Helen Tran • This website was made out of 10,000 of my salty tears.
                    <span class="break"></span>The full website is available on <a href="https://github.com/tranhelen/helentran">Github</a> for educational purposes.</p>
	            </div>
            </footer>