	<footer>
		{% include mailinglist.html %}

		<div class="container" 
			data-aos="fade-up"
			data-aos-duration="1000"
			data-aos-easing="ease-out-quad">
			<p><a href="/">Home</a> • Find me on <a href="http://twitter.com/tranhelen">Twitter</a>, <a href="http://instagram.com/tranhelen">Instagram</a>, and <a href="http://dribbble.com/tranhelen">Dribbble</a> • <a href="http://helentran.com/feed.xml">RSS</a></p>
			<p>Copyright &copy; 2017 Helen Tran. Portrait and portrait video by <a href="http://jeremiahwarren.com/">Jeremiah Warren</a>.</p>
		</div>
	</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/detectmobilebrowser.js"></script>
<script>
	AOS.init();
</script>
<script>

	var sources = document.querySelectorAll('video#indexbackgroundvideo source');
	
	// Define the video object this source is contained inside
	var video = document.querySelector('video#indexbackgroundvideo');
	for(var i = 0; i < sources.length;i++) {
	  sources[i].setAttribute('src', sources[i].getAttribute('data-src'));
	};
	
	video.load();

	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-56289581-1', 'auto');
	ga('send', 'pageview');

</script>
<script src="/js/track.js"></script>
</html>