<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% if page.url == "/404.html" %}
            <meta http-equiv="refresh" content="4; url=/">
        {% endif %}
        
        {% if page.twitter_desc %}
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@tranhelen">
            <meta name="twitter:creator" content="@tranhelen">
            <meta name="twitter:title" content="{{ page.title }}">
            <meta name="twitter:description" content="{{ page.twitter_desc }}">
            <meta name="twitter:image" content="http://helentran.com/img/post/{{ page.twitter_image }}">
        {% endif %}
        
        <link rel="stylesheet" href="/css/theme/style.css">
        <link rel="stylesheet" href="/css/aos/aos.css" />

        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

        <script src="https://use.typekit.net/gjq0mcs.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>