<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% if page.url == "/404.html" %}
            <meta http-equiv="refresh" content="4; url=/">
        {% endif %}
        
        <link rel="stylesheet" href="/css/theme/style.css">
        <link rel="stylesheet" href="/css/aos/aos.css" />
        
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src="https://use.typekit.net/gjq0mcs.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>