<nav>
    {% if page.previous.url %}
        <div>&#8592; <a href="{{ page.previous.url }}" class="em">Prev</a></div>
    {% endif %}
    {% if page.previous.url == null %}
        <div>&nbsp;</div>
    {% endif %}
    <div class="text-center"><a href="index.html" class="em">Home</a></div>
    {% if page.next.url %}
        <div class="text-right"><a href="{{ page.next.url }}" class="em">Next</a> &#8594;</div>
    {% endif %}
    {% if page.next.url == null %}
        <div>&nbsp;</div>
    {% endif %}
</nav>