<div class="navigation" 
	data-aos="fade-up" 
	data-aos-duration="1000"
	data-aos-easing="ease-out-quad">
	<div class="container">
		<div class="grid">
			<div class="grid__item one-quarter">
				{% if page.previous %}
				<span class="picker-upper">&#8592;</span> <a href="{{ page.previous.url }}" class="h6 alt">Prev</a>
				{% else %}
				&nbsp;
				{% endif %}
			</div>
			<div class="grid__item one-half text-center">
				<h6>{{ page.date | date:'%B %-d, %Y' }}</h6>
				<p><em>Categorized under '<a href="writing-category-{{ page.categories | last }}.html">{{ page.categories | last }}</a>'</em></p>
			</div>
			<div class="grid__item one-quarter text-right">
				{% if page.next %}
					<a href="{{ page.next.url }}" class="h6 alt">Next</a> <span class="picker-upper">&#8594;</span>
				{% endif %}
			</div>
		</div>
	</div>
</div>