      <header class="post-header">
      	<div class="grid">
	    	<div class="grid__item one-third">
	    	    {% if page.previous %}
	      			<a href="{{ page.previous.url }}">
	      				<span class="h5 page-nav-cond">&laquo; Prev</span><span class="page-nav-ex">{{ page.previous.title }}</span>
	      			</a>
	      		{% else %}
	      			&nbsp;
		        {% endif %}
	  		</div>
	  		<div class="grid__item one-third text-center">
	  			<a class="h5" href="/">Home</a>
	  		</div>
	    	<div class="grid__item one-third text-right">
		        {% if page.next %}
	          		<a href="{{ page.next.url }}">
	          			<span class="h5 page-nav-cond">Next &raquo;</span><span class="page-nav-ex">{{ page.next.title }}</span>
	          		</a> 
			    {% endif %}
	      	</div>
       	</div>
      </header>