/*------------------------------------*\
    #Archives
\*------------------------------------*/

.archive-design {
	background-image: url('/img/bg-watercolour-designarchive.svg');
	background-repeat: no-repeat;
    background-position-x: 50%;;
	background-size: 396%;	
	margin: 50px 0 30px;
	padding: 0 30px 10px;

	@include at-query($one) {
		background-size: 95%;
		padding: 0 60px;
	}

	@include at-query($two) {
	    background-size: 100%;
	    background-position: 80px 0;
    	padding: 0 60px;
	}

	@include at-query($three) {
		background-position: 0;
		background-size: 150%;
	    margin-top: 60px;
		padding: 0px 50px;
	}

	@include at-query($four) {
	    margin-top: 140px;
		padding: 0px 100px 50px;
	}
}

.archive-design__header {
	margin: 10px 0;
	position: relative;
	top: -20px;

	@include at-query($three) {
		margin-top: -30px;
	}
}

.archive-popular {
	@include at-query($three) {
		padding: 0 0 0 30px;
	}
}

.archive-popular__body,
.archive-topic__body {
	padding: 0 30px;

	@include at-query($three) {
		padding: 0 0 0 30px;
	}

	@include at-query($four) {
		padding: 0 0 0 60px;
	}
}

.archive-popular__body {
	@include at-query($one) {
		padding: 0 0 0 60px;
	}

	@include at-query($three) {
		padding-left: 30px;
	}

	@include at-query($four) {
		padding-left: 50px;
	}
}

.archive-topic__body {
	@include at-query($one) {
		padding: 0;
	}

	@include at-query($three) {
		padding-left: 30px;
	}

	@include at-query($four) {
		padding-left: 50px;
	}
}

.archive-popular__header {
    margin-bottom: 20px;
	padding: 0 30px;

	@include at-query($one) {
		padding-left: 60px;
	}

	@include at-query($three) {
		margin-top: 35px;
		padding-left: 30px;
	}

	@include at-query($four) {
	    margin: 85px 0 30px ;
	    padding-left: 50px;
	}
}

.archive-topic__header {
    margin-bottom: 20px;
	padding: 0 30px;

	@include at-query($one) {
		padding: 0;
	}

	@include at-query($three) {
		margin-top: 10px;
		padding-left: 30px;
	}

	@include at-query($four) {
		margin: 60px 0 30px;
		padding-left: 50px;
	}
}

.fullarchive-2017,
.fullarchive-2016,
.fullarchive-2015,
.fullarchive-2014 {
	h4 {
		margin-bottom: 30px;
	}
}

.fullarchive-2014 {
	background-image: url('/img/bg-watercolour-archive2014.svg');
	background-repeat: no-repeat;
    background-position: -20px 20px;
	background-size: 300%;
	margin: 50px 0 30px;
	padding-bottom: 15px;

	@include at-query($one) {
	    background-position: 0 50px;
	    background-size: 120%;
	}

	@include at-query($two) {
		background-position: center 30px;
    	background-size: 800px;
		margin: 0 0 40px;
	}

	@include at-query($three) {
	    background-position: center 30px;
	    background-size: 1060px;
	    margin: 40px 0 90px;
	}

	@include at-query($four) {
    	background-size: 1380px;
    	margin: 140px 0 190px;
	}
}

.fullarchive-2016 {
	background-image: url('/img/bg-watercolour-archive2016mobile.svg');
	background-repeat: no-repeat;
    background-position-x: -20px;
	background-size: 200%;	
	margin: 50px 0 30px;
	padding-bottom: 10px;

	@include at-query($one) {
		background-position-x: 0;
		background-size: 100%;
	}

	@include at-query($two) {
		background-position: center 0px;
    	background-size: 800px;
		margin: 0 0 40px;
	}

	@include at-query($three) {
	    background-position: center -10px;
	    background-size: 1060px;
	    margin: 40px 0 90px;
	}

	@include at-query($four) {
    	background-size: 1380px;
    	margin: 140px 0 190px;
	}
}

.header-bg-watercolour {
	&.--writing {
		background-image: url('/img/bg-watercolour-writing.svg');
	}

	&.--writing-archives {
		background-image: url('/img/bg-watercolour-writing-archives.svg');	
	}

	&.--writing,
	&.--writing-archives {
		@include at-query($three) {
		    height: 90px;
		    left: 120px;
		    margin-top: 0px;
		    top: 140px;
		}

		@include at-query($four) {
		    left: 170px;
		    top: 170px;
		}
	}
}

.line-one {
	.archive-design & {
		top: 30px;
	}

	.fullarchive-2016 &,
	.fullarchive-2014 & {
		@include at-query($four) {
			right: 5002%;
		}
	}

	&.--writing {
		@include at-query($two) {
			right: 260px;
		}

		@include at-query($three) {
			right: 240px;
			top: 30px;
		}

		@include at-query($four) {
			right: 4993%;
			top: 35px;
		}
	}

	&.--writing-archives {
		@include at-query($four) {
			right: 4993%;
		}
	}
}

.line-two {
	.fullarchive-2017 &,
	.fullarchive-2015 & {
		@include at-query($four) {
			right: 5002%;
		}
	}
}

.writing__group {
	padding-bottom: 10px;
}

.writing__single {
	margin-bottom: 30px;

	@include at-query($three) {
		margin-bottom: 40px;
	}

	@include at-query($four) {
		margin: 0 0 80px 0;

		.archive-design__body & {
			margin: 40px 0 0;
		}
	}

	h3 {
		margin-bottom: 0;
	}

	h6 {
		margin-bottom: 10px;
	}

	.fullarchive-2017 &,
	.fullarchive-2016 &,
	.fullarchive-2015 &,
	.fullarchive-2014 & {
		@include at-query($three) {
			margin: 0 0px 30px 0;
		}
	}

}

