/*------------------------------------*\
    #Base
\*------------------------------------*/

* {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
 text-rendering:optimizeLegibility;
}

::selection {
	background: $selection;
	color: $selectionText;
}

::-moz-selection {
	background: $selection;
	color: $selectionText;
}

$stack1: "Adobe Caslon Pro", Georgia, Times, Times New Roman, serif;
$stack2: "soleil", "Helvetica Neue", Helvetica, Arial, sans-serif;

$baseFontSize: 16px;
$unit: 30px;

/* Breakpoints */
$one: 560px;
$two: 1130px;