/*------------------------------------*\
    #Base
\*------------------------------------*/

* {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust: 100%;
 text-rendering:optimizeLegibility;
}

::selection {
	background: $selection;
	color: $selectionText;
}

::-moz-selection {
	background: $selection;
	color: $selectionText;
}

$stack1: "soleil", "Helvetica Neue",Helvetica,Arial,sans-serif;
$stack2: "capitolium-2",Georgia,Times,Times New Roman,serif;

$baseFontSize: 16px;
$unit: 20px;

/* Breakpoints */
	$one: 560px;
	$two: 840px;
	$three: 1200px;
	$four: 1600px;