/*------------------------------------*\
    #Blog
\*------------------------------------*/

figure {
	figcaption {
		margin-left: 30px;
	}

	&.hero {
		margin: 0 -30px 30px;
	}
}

.book-cover {
	margin-bottom: 15px;
}

.post-single {
	margin-bottom: 30px;
}

.fullarchive-2017,
.fullarchive-2016,
.fullarchive-2015,
.fullarchive-2014 {
	h4 {
		margin-bottom: 30px;
	}
}

.navigation {
	margin: 20px 0 15px;

	@include at-query($two) {
		margin: 30px 0 70px;
	}

	@include at-query($three) {
		margin: 30px 0 45px;
	}

	@include at-query($four) {
		margin: 45px 0 145px;
	}

	&.--footer {
		margin: 10px 0 0; 

		@include at-query($two) {
			margin: 50px 0 0;
		}

		@include at-query($three) {
			margin: 70px 0 70px;
		}

		@include at-query($four) {
			margin: 160px 0 -10px;
		}
	}
}

.post-single {
	h1 {
		font-size: em(45px);
		margin: 0 0 35px;

		@include at-query($two) {
			margin: 0 0 35px;
		}

		@include at-query($three) {
			font-size: em(90px);
			margin: 10px 0 70px;
		}

		@include at-query($four) {
			font-size: em(120px);
		}
	}

	h2 {
		color: $colorTextHeader;
		font-size: em(35px);
		font-style: normal;
		font-weight: 600;
		margin-top: 30px;
	}

	h3 {
		font-size: em(30px);
		line-height: 1.33;
		margin: 15px 0;
	}

	figure {
		margin: 20px 0 30px;
	}
}

.writing__single { 
	h6 {
		margin-bottom: 10px;
	}
}

.fieldnotes-anchor {
    color: $colorAccent;
    font-family: $stack2;
    font-size: em(10px);
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
	    bottom: 5px;
}

.footnote {
	letter-spacing: 2px;
}

.footnote-back {
	background-image: none;
    margin-left: -20px;
	position: relative;
		top: 3px;
}