/*------------------------------------*\
    #Blog
\*------------------------------------*/

.navigation {
	margin: 20px 0 15px;

	@include at-query($two) {
		margin: 30px 0 70px;
	}

	@include at-query($three) {
		margin: 30px 0 45px;
	}

	@include at-query($four) {
		margin: 45px 0 145px;
	}

	&.--footer {
		margin: 10px 0 0; 

		@include at-query($two) {
			margin: 50px 0 0;
		}

		@include at-query($three) {
			margin: 70px 0 70px;
		}

		@include at-query($four) {
			margin: 160px 0 -10px;
		}
	}
}

.post-single {
	margin-bottom: 30px;

	h1 {
		font-size: em(45px);
		margin: 0 0 35px;

		@include at-query($two) {
			margin: 0 0 35px;
		}

		@include at-query($three) {
			font-size: em(90px);
			margin: 10px 0 70px;
		}

		@include at-query($four) {
			font-size: em(120px);
		}
	}

	h2 {
		color: $colorTextHeader;
		font-size: em(35px);
		font-style: normal;
		font-weight: 600;
		margin: 30px 0 20px;

		@include at-query($three) {
			font-size: em(38px);
			margin: 60px 0 30px;
		}

		@include at-query($four) {
			font-size: em(48px);
		}
	}

	h3 {
		font-size: em(30px);
		font-weight: 600;
		line-height: 1.33;
		margin: 35px 0 20px;

		@include at-query($three) {
			font-size: em(35px);
			margin: 55px 0 30px;
		}

		@include at-query($four) {
			font-size: em(40px);
		}
	}

	blockquote.large {
		p {
			font-style: normal;
			font-weight: 600;
			line-height: 1.45;

			@include at-query($three) {
				font-size: em(25px);
				line-height: 1.6;
				margin: 30px -60px;
			    text-align: center;
			}

			@include at-query($four) {
				font-size: em(30px);
				line-height: 1.8;
				margin: 60px -100px;
			}
		}
	}

	figure {
		margin: 20px 0 30px;

		@include at-query($three) {
			margin: 50px 0 60px;
		}

		&.hero {
			margin: -15px -30px 30px;

			@include at-query($two) {
				margin: 15px -60px 35px;
			}

			@include at-query($three) {
				margin: -45px 0 -60px 0;
			    position: relative;
			    width: 180%;
			    left: -40%;
			}

			@include at-query($four) {
				margin: -130px 0 -80px 0;
			}

			&.--wcaption {
				@include at-query($three) {
					margin-bottom: -100px;
				}

				@include at-query($four) {
					margin-bottom: -110px;
				}
			}
		}

		&.left {
			float: left;
			margin: 0 30px 0 0;
		}
	}

	figcaption {
		margin: 0;
	}
}

.fieldnotes-anchor {
    color: $colorAccent;
    font-family: $stack2;
    font-size: em(10px);
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 4px;
    position: relative;
	    bottom: 5px;
}

.footnote {
	letter-spacing: 2px;
}

.footnote-back {
	background-image: none;
    margin-left: -20px;
	position: relative;
		top: 3px;
}

/*------------------------------------*\
    #Snowflakes :( Suckkkk ittttt
\*------------------------------------*/

.book-cover {
	background: none;
	display: block;
	margin-bottom: 15px;

	@include at-query($two) {
		margin: 30px 0;
	}
}