/*------------------------------------*\
    #CaseStudies
\*------------------------------------*/

.cs-tag {
	background-color: $colorAccent;
	color: #fff;
	margin: 0 auto;
	padding: 10px 0 5px;
	position: relative;
	text-align: center;
	width: 120px;
    z-index: 1;

    @include at-query($one) {
    	margin: 0;
    }

    @include at-query($two) {
    	padding-bottom: 0;
    }

    @include at-query($three) {
    	padding: 15px 0 5px;
    	width: 160px;
    }

    h6 {
    	color: #fff;
    }
}

.header-bg-watercolour {
	.c1-s1 & {
		background-image: url('/img/casestudy/bg-watercolour-cs.svg');	
	    left: 30px;
		top: 70px;
	}

	&.--cs1-stage3 {
		background-image: url('/img/casestudy/1-bg-watercolour-header-stage3.svg');	
    		left: -40px;
		    top: 30px;

		&.--b {
    		left: -20px;
		    top: 35px;
		}

		&.--c {
    		left: -60px;
		    top: 20px;
		}
	}

	&.--cs2-diversity {
		background-image: url('/img/casestudy/2-bg-watercolour-header-diversity.svg');	
		    left: -31px;
		    top: 29px;
    	height: 35px;
    	z-index: 0;

    	&.--b {
			left: -21px;
			top: 19px;
    	}

    	&.--c {
			left: 19px;
			top: 24px;
    	}

    	&.--d {
		    left: -20px;
		    top: 44px;
    	}

    	&.--e {
			left: 39px;
			top: 25px;
    	}

    	&.--f {
			left: -31px;
			top: 15px;
    	}
    }

	&.--cs-morework {
		background-image: url('/img/casestudy/bg-watercolour-cs-morework.svg');
			top: -10px;
	}
}

/*------------------------------------*\
    #CS1
\*------------------------------------*/

.c1-hero {
	margin: 0 -30px 10px;

	@include at-query($one) {
		position: relative;
		left: -30px;
	}

	@include at-query($two) {
		left: -60px;
	}

	@include at-query($three) {
		left: -15%;
	}
}

.c1-s1,
.c1-s2,
.c1-s3,
.c1-s4 {
	margin: 50px 0;
}

.c1-s1 {
	margin-top: -20px;

	@include at-query($two) {
		margin-top: 20px;
	}

	figure {
		position: relative;

		@include at-query($one) {
			margin: 30px -30px 30px -16%;
		}

		@include at-query($three) {
			margin: 30px -43% 30px -14.35%;
		}

		@include at-query($four) {
			margin: 80px -43% 80px -14.35%;
		}
	}
}

.c1-numbers {
	background-color: $colorBGone;
	margin: 30px -30px;
	padding: 15px;

	@include at-query($two) {
		background-color: transparent;
		margin: 0 -30px;
		padding: 0;
	}
}

.c1-numbers__body {
	border: 5px solid #fff;
	padding: 20px 10px 20px 30px;

	@include at-query($two) {
		background-image: url(/img/casestudy/1-bg-numbers.svg);
		background-position: center;
		background-repeat: no-repeat;
		border: 0;
		margin-top: 80%;
		padding: 40px 30px 20px 30px;
	}

	@include at-query($three) {
		background-size: 90%;
    	margin-top: 50%;
    	padding: 90px 30px 70px 30px;
	}
}

.c1-numbers__single {
	@include at-query($two) {
		margin-bottom: 20px;
	}
}

.c1-s1-bg {
	display: none;

	@include at-query($two) {
	    background-image: url(/img/casestudy/1-bg-s1.svg);
	    background-repeat: no-repeat;
	    display: block;
	    height: 1200px;		
	    position: absolute;
		    right: 0;
	    width: 450px;
	    z-index: -2;
	}

	@include at-query($three) {
		width: 750px;
		left: 60%;
		right: initial;
	}
}

.c1-s2-bg {
	display: none;

	@include at-query($two) {
	    background-image: url(/img/casestudy/1-bg-s2.svg);
	    background-repeat: no-repeat;
	    display: block;
	    height: 1200px;		
	    position: absolute;
		    left: 0;
	    width: 450px;
	    z-index: -2;
	}

	@include at-query($three) {
		width: 750px;
		right: 60%;
		left: initial;
	}
}

.c1-s3-bg {
	display: none;

	@include at-query($two) {
	    background-image: url(/img/casestudy/1-bg-s3.svg);
	    background-repeat: no-repeat;
	    display: block;
	    height: 1200px;		
	    position: absolute;
		    right: 0;
	    width: 450px;
	    z-index: -2;
	}

	@include at-query($three) {
		width: 750px;
		left: 60%;
		right: initial;
	}
}

.c1-s2-imagegrid {
	margin: 30px -13% 30px 0;

	@include at-query($four) {
		margin: 70px -13% 80px 0;
	}

	figure {
		margin: 0;
	}

	.imagegrid01 {
		margin-bottom: 20px;
	}

	.imagegrid03 {
		margin-top: 10%;
	}
}

.c1-stage3-images {
	margin: 10px 0; 

	@include at-query($four) {
		margin: 50px 0 0;
	}

	figure {
		float: left;
		margin: 20px 0 0 0;
		position: relative;
		width: 20%;
    	z-index: 1;
	}

	.c1-stage3-images__body {
		float: right;
    	padding-left: 30px;
		width: 80%;

		@include at-query($two) {
			padding-left: 60px;
		}
	}

	&.--b {
		figure {
			float: right;
		}

		.c1-stage3-images__body {
			padding-right: 60px;
		}
	}

	@include clearfix;
}

/*------------------------------------*\
    #CS2
\*------------------------------------*/

.c2-diversity {
	margin-bottom: 50px;
}

.c2-diversity-box {
	background-color: #fff;
	box-shadow: 0px 10px 30px rgba($colorShadow,0.3);
    padding: 30px 30px 15px;
    margin-top: 50px;
}

.c2-diversity-box__image {
    display: block;
    margin: -60px auto 0;
    width: 151px;
}

.c1-header {
	margin: 30px 0;

	@include at-query($one) {
		margin: 50px 0 30px;
	}

	@include at-query($one) {
		h1 {
		    margin-top: -70px;
		}		
	}

	h2 {
		margin-bottom: 0;
	}

	img {
		position: relative;
		top: -20px;
	}
}



.c2-header {
	margin-top: -30px;
}

.c2-header-img {
	margin-left: -230px;
	margin-top: -100px;
	width: 210%;
}

.c2-s2,
.c2-s3,
.c2-s4,
.c2-s5,
.c2-s6 {
    background-position: -600px 50px;
    background-repeat: no-repeat;
    background-size: 800px 800px;
    margin-top: 40px;
}

.c2-s2 {
	background-image: url('/img/casestudy/2-background-s2.svg');
}

.c2-s3 {
	background-image: url('/img/casestudy/2-background-s3.svg');
    background-position: 300px 0;
    background-size: 2400px 2400px;
    padding-top: 30px;
}

.c2-s4 {
	background-image: url('/img/casestudy/2-background-s2.svg');
}

.c2-s5 {
	background-image: url('/img/casestudy/2-background-s3.svg');
    background-position: 300px 0;
    background-size: 2400px 2400px;
    padding-top: 30px;
}

.c2-s6 {
	background-image: url('/img/casestudy/2-background-s2.svg');
}

/*------------------------------------*\
    #CS3
\*------------------------------------*/

.c3-s2,
.c3-s3,
.c3-s4,
.c3-s5 {
    background-position: 260px -10px;
    background-repeat: no-repeat;
    background-size: 2400px 2400px;
    margin: 50px 0;
}

.c3-s2 {
	background-image: url('/img/casestudy/2-background-s2.svg');
    padding-top: 50px;
}

.c3-s3 {
	background-image: url('/img/casestudy/2-background-s3.svg');
	background-position: -1000px 50px;
    background-size: 1200px 1200px;
}

.c3-s4 {
	background-image: url('/img/casestudy/2-background-s2.svg');
	background-size: 1200px 1200px;
    padding-top: 50px;
}

.c3-s2-facebookad {
    margin: 0 -30px 10px -30px;

	figure {
		float: left;
		width: 50%;
	}

	.fa01 {
	    position: relative;
	    z-index: 1;
	}

	.fa02 {
        margin-top: 8%;
	}

	@include clearfix;
}

.c3-s2-facebookcheckout {
	figure {
		float: left;
		width: 48%;
	}

	.fc02 {
		float: right;
	}

	@include clearfix;
}

.c3-s2-dashboards {
    margin: 0 -30px 0 -30px;

    figure {
    	float: left;
    }

    .da01 {
    	margin-top: 16%;
    	width: 45%;
    }

    .da02 {
    	margin-left: -20%;
    	position: relative;
    	width: 50%;
    	z-index: 1;
    }

    .da03 {
    	width: 35%;
    	margin-left: -10%;
    	margin-top: 10%;
    }

    @include clearfix;
}

.c3-s3-home {
    margin: 0 -30px 0 -30px;

    figure {
    	float: left;
    	margin: 20px 0 15px 0;
    }

    figcaption {
    	margin: 0 0 30px 30px;
    }

    .ho01 {
    	margin-top: 10%;
    	width: 40%;
    }

    .ho02 {
    	width: 60%;
    }

	@include clearfix;
}

.c3-s4-unite {
	margin: 0 -30px;

	figure {
		width: 80%;
	}

	.un02 {
		margin: -15% 0 0 20%;
	    position: relative;
	    z-index: 1;
	    width: 80%;
	}

	@include clearfix;
}

.cs-morework {
    margin-top: -20px;

	.hp-work-single {
		margin-top: 0;
		margin-bottom: 30px;
	}
}

.cs-ol {
	counter-reset: item;
	background-color: #fff;
	border: 3px solid $colorAccent;
	list-style: none;
	margin: 20px 0 30px;
	padding: 20px 20px 0;

	li {
		counter-increment: item;
		display: table-row;
	}

	li:before {
		background-image: url(/img/casestudy-ol.gif);
		background-position: 0 2px;
		background-repeat: no-repeat;
		background-size: 28px;
		color: $colorAccent;
		content: counter(item);
    	display: table-cell;
		font-family: $stack2;
		font-weight: 600;
	    padding: 5px 10px 0 0;
		text-align: center;
		width: 28px;
	}
}

.c1__body {
	.toc {
		margin: 0 0 0 -20px;

		@include at-query($three) {
			margin-left: -25px;
		}
	}
}

.c1__body,
.c2__body,
.c3__body {
	h2 {
		font-weight: 600;
		font-style: normal;
		color: $colorTextHeader;
		margin-bottom: 0;

		&.lighter {
			color: $colorAccent;
		}
	}

	h3 {
		color: $colorAccent;
		margin: 0 0 15px;

		&.darker {
			color: $colorTextHeader;
		}
	}
}

.c1-numbers__body {
	text-align: center;

	h5 {
		font-size: em(24px);
	}

	h6 {
		font-size: em(30px);
		font-weight: 300;
	}

	hr {
		border-bottom-width: 1px;
		border-color: $colorTextHeader;
		margin: 5px auto;
	}
}

.c3-s5 {
	h2 {
		margin-bottom: 10px;
	}
}

.cs-first::first-letter {
	color: $colorAccentTwo;
	float: left;
    font-size: em(54px);
    line-height: 0.72;
    padding-top: 18px;
    padding-right: 8px;
    position: relative;
}

.cs-morework {
	h4 {
		margin-bottom: -30px;
	}
}