/*------------------------------------*\
    #CaseStudies
\*------------------------------------*/

.container {
	&.--background-container {
		position: relative;
	}
}

.cs-firstletter::first-letter {
	color: $colorAccentTwo;
	float: left;
    font-size: em(54px);
	line-height: 0.1;
    padding: 34px 10px 0 0;
    position: relative;

    @include at-query($three) {
	    padding-top: 44px;
    }

    @include at-query($four) {
    	padding-top: 50px;
    }
}

.cs-morework {
    margin-top: -20px;

	h4 {
		margin-bottom: -30px;
	}
	
	.hp-work-single {
		margin-top: 0;
		margin-bottom: 30px;
	}

	@include at-query($two) {
		margin-top: 100px;

		.--a {
			margin-top: -100px; 
		}

		.--b {
			margin-top: -140px;
		}
	}

	@include at-query($four) {
		margin: 200px 0 160px 0;

		.--a {
			margin-top: -120px; 
		}

		.--b {
			margin-top: -200px;
		}
	}
}

.cs-ol {
	counter-reset: item;
	background-color: #fff;
	border: 3px solid $colorAccent;
	list-style: none;
	margin: 20px 0 30px;
	padding: 20px 20px 0;

	li {
		counter-increment: item;
		display: table-row;
	}

	li:before {
		background-image: url(/img/casestudy/casestudy-ol.svg);
		background-position: 0 5px;
		background-repeat: no-repeat;
		background-size: 28px;
		color: $colorAccent;
		content: counter(item);
    	display: table-cell;
		font-family: $stack2;
		font-weight: 600;
	    padding: 5px 10px 0 0;
		text-align: center;
		width: 28px;
	}

	@include at-query($three) {
	    margin: 40px -60px 50px;
    	padding: 40px 40px 20px 40px;

	    li:before {
			background-image: url(/img/casestudy/casestudy-ol-med.svg);
	    	background-position: 1px 3px;
	    	background-size: 30px;
    		padding: 0px 20px 0 2px;
	    }

	    p {
	    	font-size: inherit;
	    	margin-bottom: 15px;
	    }
	}

	@include at-query($four) {
		li:before {
			background-image: url(/img/casestudy/casestudy-ol-large.svg);
		    background-position: 0px 4px;
		    background-size: 36px;
		    padding: 0px 20px 0 4px;
		}

    	p {
    		font-size: inherit;
	    	margin-bottom: 15px;
    	}
	}
}

.cs-tag {
	background-color: $colorAccent;
	color: #fff;
	margin: 0 auto;
	padding: 10px 0 5px;
	position: relative;
	text-align: center;
	width: 120px;
    z-index: 1;

    @include at-query($one) {
    	margin: 0;
    }

    @include at-query($two) {
    	padding-bottom: 0;
    }

    @include at-query($three) {
    	padding: 15px 0 5px;
    	width: 160px;
    }

    @include at-query($four) {
	    margin-top: 50px;
    }

    h6 {
    	color: #fff;
    }

    &.--c {
	    margin-top: 0;

	    @include at-query($one) {
	    	margin-top: 50px;
	    }

	    @include at-query($four) {
	    	margin-top: 220px;
	    }
    }
}

.cs-toc {
	margin: 0 0 0 -20px;

	@include at-query($three) {
		margin-left: -25px;
	}

	@include at-query($four) {
		margin: 40px 0 50px -30px;
	}

	h6 {
		margin: 0 0 10px 20px;

		@include at-query($three) {
			margin-left: 30px;
		}
	}

	&.--b {
		margin-top: 35px;

		@include at-query($four) {
			margin-top: 75px;
		}
	}

	&.--c {
		margin-top: 40px;

		@include at-query($four) {
			margin-top: 85px;
		}
	}

	.cs-toc__list {
		padding: 0;

		li {
			margin: 0;
		}

		.bullet {
			color: $colorAccent;
		}
	}
}

.header-bg-watercolour {
	&.--c1-s1 {
		background-image: url('/img/casestudy/bg-watercolour-cs.svg');	
	    left: 30px;
		top: 70px;

		@include at-query($three) {
    		height: 80px;
			top: 90px;
		}

		@include at-query($four) {
			height: 100px;
		    top: 120px;
		}
	}

	&.--c1-s3 {
		background-image: url('/img/casestudy/1-bg-watercolour-header-stage3.svg');	
    		left: -40px;
		    top: 30px;

		&.--b {
    		left: -20px;
		    top: 35px;
		}

		&.--c {
    		left: -60px;
		    top: 20px;
		}
	}

	&.--cs2-diversity {
		background-image: url('/img/casestudy/2-bg-watercolour-header-diversity.svg');	
		    left: -31px;
		    top: 29px;
    	height: 35px;
    	z-index: 0;

    	&.--b {
			left: -21px;
			top: 19px;
    	}

    	&.--c {
			left: 19px;
			top: 24px;
    	}

    	&.--d {
		    left: -20px;
		    top: 44px;
    	}

    	&.--e {
			left: 39px;
			top: 25px;
    	}

    	&.--f {
			left: -31px;
			top: 15px;
    	}

    	@include at-query($two) {
			    left: 31px;

	    	&.--b {
				left: 41px;
	    	}

	    	&.--c {
				left: 89px;
	    	}

	    	&.--d {
			    left: 50px;
	    	}

	    	&.--e {
				left: 99px;
	    	}

	    	&.--f {
				left: 51px;
	    	}
    	}
    }

	&.--cs-morework {
		background-image: url('/img/casestudy/bg-watercolour-cs-morework.svg');
			top: -10px;
	}
}

.line-one {
	.c1-body & {
		top: 20px;

		@include at-query($four) {
			right: 5002%;
		}
	}

	.c2-body &,
	.c3-body & {
		top: 13px;

		@include at-query($four) {
			top: 23px;
			right: 5002%;
		}
	}

	.cs-morework & {
		top: 35px;

		@include at-query($four) {
			right: 5002%;
		}
	}
}

.line-two {
	.c1-body & {
		top: 20px;

		@include at-query($four) {
			right: 5002%;
		}
	}

	.c2-body &,
	.c3-body & {
		top: 13px;

		@include at-query($four) {
			top: 23px;
			right: 5002%;
		}
	}
}

.c1-body,
.c2-body,
.c3-body {
	h2 {
		font-weight: 600;
		font-style: normal;
		color: $colorTextHeader;
		margin-bottom: 0;

		&.lighter {
			color: $colorAccent;
		}
	}

	h3 {
		color: $colorAccent;
		margin: 0 0 15px;

		&.darker {
			color: $colorTextHeader;
		}
	}
}

/*------------------------------------*\
    #CS1
\*------------------------------------*/

.c1-header {
	margin: 30px 0;

	@include at-query($one) {
		margin: 50px 0 30px;

		h1 {
		    margin-top: -70px;
		}		
	}

	h2 {
		margin-bottom: 0;
	}

	img {
		position: relative;
		top: -20px;
	}
}

.c1-hero {
	margin: 0 -30px 10px;

	@include at-query($one) {
		position: relative;
		left: -30px;
	}

	@include at-query($two) {
		left: -60px;
	}

	@include at-query($three) {
		left: -15%;
	}
}

.c1-numbers {
	background-color: $colorBGone;
	margin: 30px -30px;
	padding: 15px;

	@include at-query($two) {
		background-color: transparent;
		margin: 0 -30px;
		padding: 0;
	}
}

.c1-numbers__body {
	border: 5px solid #fff;
	padding: 20px 10px 20px 30px;
	text-align: center;

	@include at-query($two) {
		background-image: url(/img/casestudy/1-bg-numbers.svg);
		background-position: center;
		background-repeat: no-repeat;
		border: 0;
		margin-top: 80%;
		padding: 40px 30px 20px 30px;
	}

	@include at-query($three) {
		background-size: 90%;
    	margin-top: 50%;
    	padding: 90px 30px 70px 30px;
	}

	h5 {
		font-size: em(24px);
	}

	h6 {
		font-size: em(30px);
		font-weight: 300;
	}

	hr {
		border-bottom-width: 1px;
		border-color: $colorTextHeader;
		margin: 5px auto;
	}
}

.c1-numbers__single {
	@include at-query($two) {
		margin-bottom: 20px;
	}
}

.c1-s1,
.c1-s2,
.c1-s3,
.c1-s4 {
	margin: -20px 0 40px 0;

	@include at-query($two) {
		margin-top: 0;
	}
}

.c1-s1,
.c1-s2,
.c1-s3 {
	@include at-query($four) {
		margin-bottom: 160px;
	}
}

.c1-s4 {
	@include at-query($four) {
		margin-bottom: 190px;
	}
}

.c1-s1__img1 {
	position: relative;

	@include at-query($one) {
		margin: 30px -30px 30px -16%;
	}

	@include at-query($three) {
		margin: 30px -43% 30px -14.35%;
	}

	@include at-query($four) {
		margin: 80px -43% 80px -14.35%;
	}
}

.c1-bg {
	display: none;

	@include at-query($two) {
	    background-image: url(/img/casestudy/1-bg-s1.svg);
	    background-repeat: no-repeat;
	    display: block;
	    height: 1200px;		
	    position: absolute;
		    right: 0;
	    width: 450px;
	    z-index: -2;
	}

	@include at-query($three) {
		width: 750px;
		left: 60%;
		right: initial;
	}

	&.--b {
		@include at-query($two) {
		    background-image: url(/img/casestudy/1-bg-s2.svg);
			    left: 0;
		}

		@include at-query($three) {
			right: 60%;
			left: initial;
		}
	}

	&.--c {
		@include at-query($two) {
		    background-image: url(/img/casestudy/1-bg-s3.svg);
		}
	}
}


.c1-s2-imagegrid {
	margin: 30px 0 40px -30px;

	@include at-query($two) {
		margin: 30px -13% 40px 0;
	}

	@include at-query($four) {
		margin: 70px -13% 80px 0;
	}

	figure {
		margin: 0;
	}

	.imagegrid01 {
		margin-bottom: 20px;
	}

	.imagegrid03 {
		margin-top: 5%;
	}
}

.c1-s3-images {
	margin: 10px 0; 

	@include at-query($four) {
		margin: 50px 0 0;
	}

	figure {
		float: left;
		margin: 20px 0 0 0;
		position: relative;
		width: 20%;
    	z-index: 1;

    	@include at-query($three) {
    		width: 27.27%;
    	}
	}

	.c1-s3-images__body {
		float: right;
    	padding-left: 30px;
		width: 80%;

		@include at-query($two) {
			padding-left: 35px;
		}

		@include at-query($three) {
			width: 72.73%;
		}
	}

	&.--b {
		figure {
			float: right;
		}

		.c1-s3-images__body {
			padding-right: 60px;
		}
	}

	@include clearfix;
}

.c1-s4-img {
	@include at-query($four) {
		width: 96%;
	}
}

/*------------------------------------*\
    #CS2
\*------------------------------------*/

.c2-body {
	margin-bottom: 50px;
}

.c2-diversity {
	margin: 20px 0 0 30px;

	@include at-query($three) {
		margin: 10px 0 0 0;
	}
}

.c2-diversity-box {
	background-color: #fff;
	box-shadow: 0px 10px 30px rgba($colorShadow,0.3);
    padding: 30px 30px 15px;
    margin-bottom: 50px;

    @include at-query($three) {
    	padding: 10px 60px 5px 0;
    }
}

.c2-diversity-box__image {
    display: block;
    margin: -60px auto 0;
    width: 150px;

	@include at-query($three) {
		float: left;
    	height: 150px;
	    margin: 0 30px 120px -100px;
	    position: relative;
	    z-index: 10;
	    width: 200px;
	}

    @include at-query($four) {
	    width: 200px;
	    height: auto;
    }
}

.c2-header {
	@include at-query($three) {
		margin-top: 0;
	}
}

.c2-hero {
	margin: -100px 0 -35px 0;
    width: 120%;

    @include at-query($four) {
    	margin: -100px 0 -20px 0;
    }
}

.c2-hr {
	margin: 30px 0 -20px -30px;

	@include at-query($three) {
		margin: 20px 0 -85px 50px
	}

	@include at-query($four) {
		margin: 65px 0 -95px 100px;
	}
}

blockquote.large {
	&.c2-s1-blockquote {
		margin-bottom: 35px;

		@include at-query($four) {
			margin-bottom: 75px;
		}
	}

	&.c2-s4-blockquote {
		margin-bottom: 50px 0 40px;

		@include at-query($four) {
			margin-bottom: 75px;
		}
	}
}

.cs-tag {
	&.--b {
		margin: 0 -30px;

		@include at-query($one) {
			position: relative;
    		top: 210px;
		}

		@include at-query($four) {
			top: 500px;
		}
	}
}

.c2-s2 {
    padding-top: 30px;

    @include at-query($four) {
    	padding-top: 120px;
    }

    h3 {
    	margin-bottom: 35px;

    	@include at-query($four) {
    		margin-bottom: 70px;
    	}
    }
}

.c2-s2-background {
	background-image: url('/img/casestudy/2-background-s2.svg');
	background-repeat: no-repeat;
	height: 800px;
	width: 800px;
    position: absolute;
	    left: -600px;
	    top: 50px;
	z-index: -50;

	@include at-query($two) {
		height: 1000px;
    	width: 1000px;
			top: 40px;
	}

	@include at-query($four) {
		height: 1200px;
    	width: 1200px;
			left: -20%;
			top: 70px;
	}
}

.c2-s2-bubbles {
	@include at-query($two) {	
		background-image: url('/img/casestudy/2-bubbles.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 1228px;
		width: 300px;
	    position: absolute;
		    left: -34%;
    		top: -12%;
		z-index: -10;
	}

	@include at-query($three) {
		height: 1520px;
    	width: 375px;
			left: -22%;
    		top: -12%;
	}

	@include at-query($four) {
		height: 1880px;
	    width: 500px;
	    	left: -20%;
	    	top: -9%;
	}
}

.c2-s3 {
	padding-top: 10px;

	@include at-query($two) {
		padding-top: 60px;
	}

	@include at-query($four) {
		padding-top: 140px;
	}

    h3 {
    	margin-bottom: 35px;

    	@include at-query($four) {
    		margin-bottom: 70px;
    	}
    }
}

.c2-s3-background {
	background-image: url('/img/casestudy/2-background-s3.svg');
	background-repeat: no-repeat;
	height: 800px;
	width: 800px;
    position: absolute;
	    right: -600px;
	    top: 50px;
	z-index: -50;

	@include at-query($two) {
		height: 1200px;
		width: 1200px;
			right: -900px;
			top: -50px;
	}

	@include at-query($four) {
			right: -40%;
			top: -90px;
	}
}

.c2-s3-pyramids {
	@include at-query($two) {	
		background-image: url('/img/casestudy/2-pyramids.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 912px;
		width: 470px;
	    position: absolute;
		    right: -40%;
    		top: -2%;
		z-index: -10;
	}

	@include at-query($three) {
		height: 1140px;
    	width: 587px;
			right: -22%;
    		top: -3%;
	}

	@include at-query($four) {
		height: 1520px;
	    width: 783px;
	    	right: -12%;
    		top: -5%;
	}
}

.c2-s4 {
    padding-top: -20px;

    @include at-query($four) {
    	padding-top: 40px;
    }

    h3 {
    	margin-bottom: 35px;

    	@include at-query($four) {
    		margin-bottom: 70px;
    	}
    }
}

.c2-s4-background {
	background-image: url('/img/casestudy/2-background-s2.svg');
	background-repeat: no-repeat;
	height: 800px;
	width: 800px;
    position: absolute;
	    left: -600px;
	    top: 50px;
	z-index: -50;

	@include at-query($two) {
		height: 1000px;
    	width: 1000px;
			top: 40px;
	}

	@include at-query($four) {
		height: 1200px;
    	width: 1200px;
			left: -30%;
			top: 70px;
	}
}

.c2-s4-cubes {
	@include at-query($two) {	
		background-image: url('/img/casestudy/2-cubes.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 1214px;
		width: 392px;
	    position: absolute;
		    left: -34%;
    		top: -12%;
		z-index: -10;
	}

	@include at-query($three) {
		height: 1518px;
    	width: 490px;
			left: -22%;
    		top: -11%;
	}

	@include at-query($four) {
		height: 2024px;
	    width: 653px;
	}
}

.c2-s5 {
    padding-top: 30px;

    @include at-query($two) {
    	padding-top: 50px;
    }

    @include at-query($four) {
    	padding-top: 170px;
    }

    h3 {
    	margin-bottom: 35px;

    	@include at-query($four) {
    		margin-bottom: 70px;
    	}
    }
}

.c2-s5-background {
	background-image: url('/img/casestudy/2-background-s3.svg');
	background-repeat: no-repeat;
	height: 800px;
	width: 800px;
    position: absolute;
	    right: -600px;
	    top: 50px;
	z-index: -50;

	@include at-query($two) {
			top: -45px;
	}

	@include at-query($three) {
		height: 1100px;
    	width: 1100px;
	}

	@include at-query($four) {
		height: 1200px;
    	width: 1200px;
			right: -30%;
    		top: -80px;
	}
}

.c2-s5-bubbles {
	@include at-query($two) {	
		background-image: url('/img/casestudy/2-bubbles-2.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 825px;
		width: 310px;
	    position: absolute;
		    right: -30%;
    		top: -8%;
		z-index: -10;
	}

	@include at-query($three) {
		height: 1100px;
	    width: 369px;
			right: -12%;
    		top: -2%;
	}

	@include at-query($four) {
		height: 1480px;
	    width: 559px;
		    right: -15%;
		    top: -12%;
	}
}

.c2-s6 {
	padding-top: 10px;

	@include at-query($two) {
		padding-top: 60px;
	}

	@include at-query($four) {
		padding: 140px 0 70px;
	}

    h3 {
    	margin-bottom: 35px;

    	@include at-query($four) {
    		margin-bottom: 70px;
    	}
    }
}

.c2-s6-background {
	background-image: url('/img/casestudy/2-background-s2.svg');
	background-repeat: no-repeat;
	height: 800px;
	width: 800px;
    position: absolute;
	    left: -600px;
	    top: 50px;
	z-index: -50;

	@include at-query($two) {
		height: 1200px;
		width: 1200px;
			left: -900px;
			top: -50px;
	}

	@include at-query($four) {
			left: -40%;
			top: -90px;
	}
}

.c2-s6-pyramids {
	@include at-query($two) {	
		background-image: url('/img/casestudy/2-pyramids-2.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 846px;
		width: 340px;
	    position: absolute;
		    left: -40%;
    		top: -2%;
		z-index: -10;
	}

	@include at-query($three) {
		height: 1057px;
    	width: 426px;
			left: -20%;
    		top: -3%;
	}

	@include at-query($four) {
		height: 1409px;
	    width: 567px;
    		top: -7%;
	}
}

/*------------------------------------*\
    #CS3
\*------------------------------------*/

.c3-header {
	margin: 30px 0;

	@include at-query($one) {
		margin: 50px 0 30px;
	}

	@include at-query($four) {
		margin-bottom: 70px;
	}

	h1 {
		@include at-query($one) {
		    margin-top: -70px;
		}

		@include at-query($four) {
			margin-top: -100px;
		}
	}

	h2 {
		margin-bottom: 0;
	}

	img {
		position: relative;
		top: -20px;
	}
}

.c3-hero {
	margin: 0 -30px 10px;

	@include at-query($one) {
		margin: -80px 0 0 0;
	}

	@include at-query($three) {
		margin: -130px 0 0 0px;
	}
}

.c3-s2 {
    margin-top: 85px;

    @include at-query($four) {
    	margin-top: 130px;
    }

    h3 {
    	margin-bottom: 35px;

    	@include at-query($four) {
    		margin-bottom: 70px;
    	}
    }
}

.c3-s2-background {
	background-image: url('/img/casestudy/3-s2-bg.svg');
	background-repeat: no-repeat;
	height: 2078px;
    width: 240px;
    position: absolute;
	    right: -13%;
	    top: -50px;
	z-index: -50;

	@include at-query($three) {
		height: 3098px;
    	width: 563px;
	}

	@include at-query($four) {
		height: 4130px;
    	width: 750px;
			right: -30%;
    		top: -100px;
	}
}

.c3-s2-dashboards {
    margin: 10px -30px;

    figure {
    	float: left;
    }

    .da01 {
    	margin-top: 16%;
    	width: 45%;
    }

    .da02 {
    	margin-left: -20%;
    	position: relative;
    	width: 50%;
    	z-index: 1;
    }

    .da03 {
    	width: 35%;
    	margin-left: -10%;
    	margin-top: 10%;
    }

	@include at-query($four) {
		margin: 40px -30px 50px -30px;
	}

    @include clearfix;
}

.c3-s2-facebookad {
    margin: 10px -30px 10px -30px;

	figure {
		float: left;
		width: 50%;
	}

	.fa01 {
	    position: relative;
	    z-index: 1;
	}

	.fa02 {
        margin-top: 8%;
	}

	@include at-query($four) {
		margin: 40px -30px 50px -30px;
	}

	@include clearfix;
}

.c3-s2-facebookcheckout {
	margin: 10px 0;

	figure {
		float: left;
		width: 48%;
	}

	.fc02 {
		float: right;
	}

	@include at-query($four) {
		margin: 40px 0 50px;
	}

	@include clearfix;
}

.c3-s2-pinterest {
    margin: 10px -30px 10px -30px;

	@include at-query($four) {
		margin: 40px -30px 50px -30px;
	}
}

.c3-s3 {
	margin-top: 10px;

	@include at-query($two) {
		margin-top: 20px;
	}

	@include at-query($three) {
		margin-top: 70px;
	}

	@include at-query($four) {
		margin-top: 150px;
	}

    h3 {
    	margin-bottom: 35px;

    	@include at-query($four) {
    		margin-bottom: 70px;
    	}
    }
}

.c3-s3-background {
	background-image: url('/img/casestudy/3-s3-bg.svg');
	background-repeat: no-repeat;
    height: 1026px;
    width: 558px;
    position: absolute;
    	left: -65%;
    	top: 60px;
	z-index: -50;

	@include at-query($one) {
			left: -30%

	}

	@include at-query($three) {
		height: 1407px;
    	width: 678px;
    		top: 80px;
	}

	@include at-query($four) {
		height: 1877px;
    	width: 930px;
			left: -30%;
    		top: 100px;
	}
}

.c3-s3-home {
    margin: 10px -30px;

    figure {
    	float: left;
    	margin: 20px 0 15px 0;
    }

    figcaption {
    	margin: 0 0 30px 30px;
    }

    .ho01 {
    	margin-top: 10%;
    	width: 40%;
    }

    .ho02 {
    	width: 60%;
    }

	@include at-query($four) {
		margin: 40px -30px 50px;
	}

	@include clearfix;
}

.c3-s3-sdk {
    margin: 10px 0;

	@include at-query($four) {
		margin: 40px 0 50px;
	}
}

.c3-s4 {
	margin-top: 20px;

	@include at-query($three) {
		margin-top: 70px;
	}

	@include at-query($four) {
		margin-top: 50px;
	}

    h3 {
    	margin-bottom: 35px;

    	@include at-query($four) {
    		margin-bottom: 70px;
    	}
    }
}

.c3-s4-background {
	background-image: url('/img/casestudy/3-s4-bg.svg');
	background-repeat: no-repeat;
    height: 928px;
    width: 450px;
    position: absolute;
    	right: -57%;
    	top: 10px;
	z-index: -50;

	@include at-query($two) {
			right: -37%;
	}

	@include at-query($three) {
		height: 1160px;
    	width: 563px;
    		right: -16%;
    		top: 0;
	}

	@include at-query($four) {
		height: 1546px;
    	width: 750px;
			right: -10%;
    		top: 30px;
	}
}


.c3-s4-unite {
	margin: 0 -30px;

	figure {
		width: 80%;
	}

	.un02 {
		margin: -15% 0 0 20%;
	    position: relative;
	    z-index: 1;
	    width: 80%;
	}

	@include clearfix;
}



.c3-s5 {
	h2 {
		margin-bottom: 10px;
	}
}