/*------------------------------------*\
    #Commons
\*------------------------------------*/

footer {
	margin: $unit $unit ($unit * 2);
	text-align: center;

	@include at-query($one) {
		margin: ($unit * 3) 0 ($unit * 4);
	}
}

.toc {
	padding: ($unit * 2) $unit $unit;
	text-align: center;
}