/*------------------------------------*\
    #Commons
\*------------------------------------*/

footer {
	margin: $unit $unit ($unit * 2);
	text-align: center;
}

.toc {
	padding: ($unit * 2) $unit $unit;
	text-align: center;
}