/*------------------------------------*\
    #Helpers
\*------------------------------------*/

.no-margin {
	margin: 0;
}

.one-one-half {
	float: left;
	width: 50%;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.one--text-right {
	@include at-query($one) {
		text-align: right;
	}
}

.two--text-left {
	@include at-query($two) {
		text-align: left;
	}
}

/*------------------------------------*\
    #Animations
\*------------------------------------*/

@keyframes arrowbounce {
	0%, 100%, 40%, 80% {
		transform: translateY(0)
	}
	20% { transform: translateX(-10px) }
	60% { transform: translateX(-5px) }
}