/*------------------------------------*\
    #Helpers
\*------------------------------------*/

.list--nobullet {
	list-style-type: none;
}

.list--inline {
	list-style-type: none;

	li {
		display: inline-block;
		margin-bottom: 0;
	}
}

.load {
	opacity: 0;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.two--text-center {
	@include at-query($two) {
		text-align: center;
	}
}

.two--text-right {
	@include at-query($two) {
		text-align: right;
	}
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
	float: none;
}

.table-bottom {
	vertical-align: bottom;
}