/*------------------------------------*\
    #Helpers
\*------------------------------------*/

.no-margin {
	margin: 0;
	padding: 0;
}

.one-one-half {
	float: left;
	width: 50%;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.one--text-right {
	@include at-query($one) {
		text-align: right;
	}
}

.two--text-left {
	@include at-query($two) {
		text-align: left;
	}
}

.three--text-left {
	@include at-query($three) {
		text-align: left;
	}
}

.zero--hide {
	display: none;
}

.two--show {
	@include at-query($two) {
		display: block;
	}
}

.three--container {
	@include at-query($two) {
		margin: 0 10%;
		max-width: 1400px;
	}

	@include at-query($four) {
		margin: 0 auto;
	}
}

.two--hide {
	@include at-query($two) {
		display: none;
	}
}

.three--hide {
	@include at-query($three) {
		display: none;
	}
}

.three--show {
	@include at-query($three) {
		display: block;
	}
}