/*------------------------------------*\
    #Homepage
\*------------------------------------*/

.avatar {
	margin: 0 auto;

	img {
		width: 100%;
	}
}

.bio {
	background-color: $colorBGBio;
	box-shadow: inset 0px 0px 150px $colorBGBioDark;
	text-align: center;
}

.container {
	margin: 0 auto;
}

.post-listing {
	text-align: center;
}

.post-listing__single {

}