/*------------------------------------*\
    #Homepage
\*------------------------------------*/

#indexbackgroundvideo { 
	// do this so the video doesn't load when someone has a small viewport, javascript takes care of not loading the asset
	display: none;

	@include at-query($two) {
		display: block;
	    position: fixed;
	    min-width: 100%;
	    min-height: 100%;
	    left: 50%;
	    top: 50%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    -ms-transform: translateX(-50%) translateY(-50%);
	    -moz-transform: translateX(-50%) translateY(-50%);
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	    background: url(/img/backgroundvideo-backup.jpg) no-repeat;
	    background-size: cover; 
	}
}

.hp-appearances {
	margin: 50px 0;

	ul {
		padding: 0;
	}

	.hp-appearances__body {
		margin-left: 20px;

		@include at-query($two) {
			margin: 0;
		}
	}
}

.hp-bio {
    margin: 75% 0 0;
	padding-top: 40px;

	.hp-bio__body {
		margin-left: 20px;
	}
}

.hp-container {
	background-color: #fff;

	@include at-query($two) {
		padding-bottom: 100px;
		position: relative;
    	z-index: 3;
	}
}

.hp-goals {
	margin: 0 0 50px 0;

	@include at-query($two) {
		margin-bottom: -20px;
	}

	@include at-query($three) {
		margin: 0 0 165px;
	}

	@include at-query($four) {
		margin: 70px 0 210px;
	}
}

.hp-goals__single {
	margin-bottom: 30px;

	a {
		background-image: none;
	}

	figure {
		float: right;
		width: 30%;

		img {
			display: block;
		}

		@include at-query($three) {
			float: left;
			width: 80%;
		}
	}

	.line-one {
		float: right;
		margin: 0;
			top: -10px;
			right: -25%;
		width: 85px;
	    z-index: 1;

	    @include at-query($one) {
	    	right: -15%;
	    	top: -5px;
	    }

	    @include at-query($two) {
    		right: -20%;
			top: -5px;
	    }

	    @include at-query($three) {
	    	top: -10px;
	    	right: -15%;
	    }
	}

	figcaption {
		float: left;
		padding: 5% 5% 0 30%;
		width: 70%;
		text-align: right;

		p {
			float: right;
		}

		@include at-query($one) {
			padding: 6% 5% 0 0;
		}

		@include at-query($three) {
			padding: 0;
			position: absolute;
				top: 70%;
				left: -75%;
			width: 70%;
			z-index: 2;
		}

		@include at-query($four) {
				left: -65%;
			width: 60%;
		}
	}

	&.__go02 {
		figcaption { 
			float: right;
			padding: 5% 30% 0 5%;
			text-align: left;

			p {
				float: left;
			}

			@include at-query($one) {
				padding: 6% 0 0 5%;
			}

			@include at-query($two) {
				float: left;
				padding: 6% 5% 0 0;
				text-align: right;
			}

			@include at-query($three) {
				padding: 0;
			}
		}

		.line-one {
			float: left;
			left: -25%;

			@include at-query($one) {
				left: auto;
				right: 15%;
			}

			@include at-query($two) {
			    float: right;
			    left: 20%;
			    right: auto;
			}

			@include at-query($three) {
				left: 15%;
			}
		}

		@include at-query($two) {
			position: relative;
				top: 50px;
		}

		@include at-query($three) {
				top: 150px;
		}
	}

	&.__go03 {
		figcaption {
			@include at-query($two) {
				float: right;
				padding: 6% 0 0 5%;
				text-align: left;
			}

			@include at-query($three) {
			    padding: 0;
				    left: auto;
				    right: -55%;
			}

			@include at-query($four) {
	    			right: -45%;
				width: 60%;
			}
		}

		.line-one {
			@include at-query($two) {
				float: left;
				left: -15%;
			}
		}
	}

	@include at-query($two) {
		position: relative;
	}

	@include clearfix;
}

.hp-header {
	margin: 40px 0 20px;

	@include at-query($one) {
		margin-top: 100px;
	}

	@include at-query($two) {
		margin-bottom: 20px;
		margin-top: 0;
	}
}

.hp-header__intro {
	@include at-query($three) {
		max-width: 1400px;
	}

	@include at-query($four) {
		margin: 0 auto;
	}

	@include clearfix;

	.__one {
		@include at-query($one) {
			float: right;
			width: 35%;
		}

		@include at-query($two) {
			width: 45%;
		}
	}

	.__second {
		margin: 0 30px;

		@include at-query($one) {
			float: left;
			margin: 0 0 0 60px;
			width: 55%;
		}

		@include at-query($two) {
			margin-left: 10%;
			width: 40%;
		}

		@include at-query($four) {
			margin-left: 0;
			width: 50%;
		}
	}
}

.hp-portrait {
	box-shadow: 0px 0px 30px rgba($colorShadow,0.5);
	margin: -15% -12% 0px;
	position: relative;
	width: 124%;
	z-index: 1;

	@include at-query($one) {
		position: relative;
			top: 40px;
		width: 128%;
		z-index: 2;
	}

	@include at-query($two) {
		margin-top: -22%;
		position: relative;
			left: 12%;
			top: 40px;
		width: 100%;
	}

	@include at-query($three) {
		margin-top: -18.5%;
	}

	@include at-query($four) {
		margin-top: -22.5%;
	}
}

.hp-portrait-bg {
	margin-top: -78%;
	position: relative;
		left: 5%;
	width: 118%;
	z-index: 0;

	@include at-query($one) {
		margin-top: -60%;
		position: relative;
			left: 0px;
    	width: 128%;
		z-index: 0;
	}

	@include at-query($two) {
		margin-top: -54%;
		    top: 10%;
		    left: 10%;
	    width: 100%;
	}

	@include at-query($four) {
			left: 10%;
		margin-top: -300px;
		width: 90.25%;
	}
}

.hp-work {
	@include at-query($two) {
		margin-top: 80px;
	}

	@include at-query($four) {
		margin-top: 120px;
	}
}

.hp-work__body {
	background-color: $colorBGone;
	margin-bottom: -20px;

	@include at-query($four) {
		margin: 0;
	    padding-bottom: 25px;
	}
}

.hp-work__content {
	position: relative;
		top: -55px;
}

.hp-work__header,
.hp-work__footer {
	background-repeat: no-repeat;
}

.hp-work__header {
	background-image: url('/img/bg-watercolour-hpwork.svg');
    background-size: 1600px 32px;
    background-repeat: repeat-x;
	height: 32px;
	margin: 0;
}

.hp-work__footer {
	background-image: url('/img/bg-watercolour-hpworkfooter.svg');
    background-size: 1600px 23px;
    background-repeat: repeat-x;
    height: 23px;
}

.hp-work__group {
	@include at-query($two) {
		margin-top: -30px;
	}
}

.hp-work-single {
	margin-top: 30px;

	a {
		background-color: #fff;
		box-shadow: 0px 10px 30px rgba($colorShadow,0.3);
		display: block;

		@include transition;

		&:hover {
			transform: scale(1.05);
		}
	}

	.hp-work-single__body {
		padding: 10px 20px 15px 20px;
		
		@include at-query($three) {
			padding: 20px 30px 20px 30px;
		}
	}

	&.hp-work-single--move {
		@include at-query($two) {
			margin-top: 70%;
		}

		@include at-query($three) {
			margin-top: 50%;
		}
	}
}


.hp-writing {
	padding: 40px 0 10px;

	@include at-query($four) {
		padding: 75px 0 25px;
	}
}

.overlay {
	background-color: rgba(#000,0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;

    &:hover {
    	opacity: 0;
    }

    @include transition;
}

.hp-video {
	@include at-query($two) {
		height: 100vh;
		width: 100vh;		
	}
}

.hp-video__overlay {
	display: none;

	@include at-query($two) {
		background-color: rgba(#000,0.5);
		display: block;
	    height: 100%;
	    width: 100%;
	    position: fixed;
	    z-index: 1;		
	}
}

.hp-bio__body {
	margin-left: 20px;

	@include at-query($two) {
		margin: 0;
	}
}

.hp-name {
	margin-top: 30px;

	@include at-query($one) {
		margin-top: 42%;
	}

	@include at-query($two) {
		margin-top: 47%;
	}

	@include at-query($four) {
		margin-top: 215px;
	}
}

.hp-work,
.hp-writing {
	h4 {
		margin-bottom: 20px;
	}
}

.hp-video-words {
	display: none;

	h1,
	h3 {
		color: #fff;
	}

	@include at-query($two) {
		display: block;
		position: fixed;
		top: 50%;
		margin: 0 10%;
		width: 60%;
		z-index: 2;
	}

	@include at-query($four) {
		display: block;
	    left: 50%;
	    padding-right: 400px;
	    margin: 0;
	    transform: translateX(-50%);
	    width: 1400px;
	    z-index: 2;
	}

	@include transition;
}