/*------------------------------------*\
    #Homepage
\*------------------------------------*/

header {
	padding: 50px 0 30px;

	&.homepage {
		background: $colorBGdark url('/img/header-background.jpg');
		background-size: cover;
		padding: 60px 0 90px;
		position: relative;
		width: 100%;

		&::after{
		  background: white;
		  bottom: 0px;
		  content: '';
		  height: 70px;
		  position: absolute;
		  transform-origin: left bottom;
		  transform: skewY(4deg);
		  width: 100%;
		  z-index: 1;
		}
	}

	@include at-query($two) {
		&.homepage {
			padding: 140px 0 185px;

			&::after {
				height: 120px;
			}
		}
	}
}

footer {
	background-color: $colorBGdark;
	padding: $unit;

	@include at-query($one) {
		text-align: center;
	}
}

section {
	padding: 50px 0;

	&.accent {
		background-color: #F2F5F8;
	}
}

.container {
	margin: 0 30px;
	max-width: 760px;

	@include at-query($one) {
		margin: 0 auto;
		padding: 0 50px;
	}

	@include at-query($two) {
		max-width: 1400px;
	}

	@include at-query($three) {
		padding: 0;
	}
}

.bio {
	@include at-query($two) {
		position: relative;
		z-index: 2;
	}
}

.bio__text {
	@include at-query($two) {
		position: relative;
		z-index: 1;
		width: 50%;		
		padding-top: 100px;
	}
}

.bio__portrait {
	position: absolute;
	background: 50% url('/img/header-portrait.jpg') no-repeat;
	background-size: cover;
	z-index: 1;
	right: 0;
	height: 710px;
	width: 80%;
}

.instagrid {
	margin: 40px 0 0;
}

.post-listing {
	padding: $unit 0 ($unit / 3);

	.square & {
		padding: $unit 0 0;
	}
}

.post-listing__single {
	margin-bottom: $unit;

	&.last {
		margin-bottom: 0;
	}
}

/*------------------------------------*\
    #Subpages
\*------------------------------------*/

.archives-filter {
	margin-top: $unit / 2;
}

.book-cover {
	margin: ($unit / 2) 0;
}

.post-header {
	padding: 0 0 ($unit / 3);

	@include at-query($one) {
		text-align: center;
	}
}

.post-navigation {
	padding: 50px $unit;
}

.post-mailinglist {
	padding: 25px 0 0;

	@include at-query($one) {
		padding: 75px 0 50px;
		text-align: center;
	}
}

.post-toc {
	margin-top: 40px;
	padding: $unit 0 0;

	@include at-query($one) {
		margin-top: 90px;
		text-align: center;
	}
}

.subpage-body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 $unit;
}

.square {
	padding-bottom: 50px;

	&.dark {
		background-color: $colorBGdark;
	}
}

#mc_embed_signup {
	padding: 50px 0;

	.post-mailinglist & {
		padding: $unit 0 20px;
	}

	@include at-query($one) {
		margin: 0 auto;
		max-width: 500px;
	}
}

