/*------------------------------------*\
    #Homepage
\*------------------------------------*/

header {
	padding: 50px 0 30px;
}

footer {
	background-color: $colorBGdark;
	padding: $unit;

	@include at-query($one) {
		text-align: center;
	}

	@include at-query($two) {
		padding: 50px 0;
	}
}

section {
	padding: 50px 0;
}

.container {
	margin: 0 30px;
	max-width: 760px;

	@include at-query($one) {
		margin: 0 auto;
		padding: 0 50px;
	}

	@include at-query($two) {
		max-width: 1400px;
	}

	@include at-query($three) {
		padding: 0;
	}
}

.about {
	@include at-query($two) {
		background: $colorBGdark url('/img/about-background.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-position: 50%;
	}
}

.about__content {
	// overflow-y: auto;
}

.bio {
	background: $colorBGdark url('/img/header-background.jpg');
	background-size: cover;
	padding: 60px 0 90px;
	position: relative;
	width: 100%;

	&::after{
	  background: white;
	  bottom: 0px;
	  content: '';
	  height: 70px;
	  position: absolute;
	  transform-origin: left bottom;
	  transform: skewY(4deg);
	  width: 100%;
	  z-index: 1;
	}

	@include at-query($two) {
		padding: 140px 0 185px;

		&::after {
			height: 120px;
		}
	}
}

.bio__content {
	@include at-query($two) {
		position: relative;
		z-index: 2;
	}
}

.bio__text {
	@include at-query($two) {
		position: relative;
		z-index: 1;
		width: 50%;		
		padding-top: 100px;
	}
}

.bio__portrait {
	position: absolute;
	background: 50% url('/img/header-portrait.jpg') no-repeat;
	background-size: cover;
	z-index: 1;
	right: 0;
	height: 710px;
	width: 80%;
}

.homepage-articles {
	padding-top: 10px;

	@include at-query($one) {
		padding-top: 20px;
	}

	@include at-query($two) {
		padding: 100px 0 90px;
	}
}

.instagrid {
	padding: 0;
	position: relative;
}

.instagrid__background {
	background-color: #F2F5F8;
	position: relative;
	z-index: -2;
	width: 100%;

	@include at-query($two) {
		&::after {
		  background: white;
		  bottom: 0px;
		  content: '';
	      height: 280px;
		  position: absolute;
		  transform-origin: left bottom;
		  transform: skewY(4deg);
		  width: 100%;
		  z-index: -1;
		}
	}
}
.instagrid__content {
	padding: 60px 0;

	@include at-query($two) {
		padding: 0;
		position: relative;
		z-index: 2;
	    margin-bottom: 189px;
	    top: 100px;
	}
}

.instagrid__description {
	margin-bottom: 30px;

	@include at-query($two) {
		float: right;
		margin: 0;
	}
}

.instagrid__pics {
	margin: 10px 0 0;

	@include at-query($two) {
		margin-top: ($unit / 2);
	}
}

.instagrid__separator {
	clear: both;
	height: 10px;

	@include at-query($two) {
		display: none;
	}
}

.post-listing {
	padding: $unit 0 ($unit / 3);

	.square & {
		padding: $unit 0 0;
	}

	@include at-query($two) {
		padding: ($unit / 3) 0 0;
	}
}

.post-listing__single {
	margin-bottom: $unit;

	&.last {
		margin-bottom: 0;
	}
}

/*------------------------------------*\
    #Subpages
\*------------------------------------*/

.archives-filter {
	margin-top: $unit / 2;
}

.book-cover {
	margin: ($unit / 2) 0;
}

.post-header {
	padding: 0 0 ($unit / 3);

	@include at-query($one) {
		text-align: center;
	}
}

.post-navigation {
	padding: 50px $unit;
}

.post-mailinglist {
	padding: 25px 0 0;

	@include at-query($one) {
		padding: 75px 0 50px;
		text-align: center;
	}
}

.post-toc {
	margin-top: 40px;
	padding: $unit 0 0;

	@include at-query($one) {
		margin-top: 90px;
		text-align: center;
	}
}

.subpage-body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 $unit;
}

.square {
	padding-bottom: 50px;

	&.dark {
		background-color: $colorBGdark;
	}
}

#mc_embed_signup {
	padding: 50px 0;

	.post-mailinglist & {
		padding: $unit 0 20px;
	}

	@include at-query($one) {
		margin: 0 auto;
		max-width: 500px;
	}
}

