/*------------------------------------*\
    #Homepage
\*------------------------------------*/

header {
	padding: 50px 0;
	
	&.homepage {
		background-color: $colorBGdark;
	}
}

footer {
	background-color: $colorBGdark;
	padding: 50px $unit;
}

section {
	padding: 50px 0;

	&.accent {
		background-color: #F2F5F8;
	}
}

.container {
	margin: 0 30px;
	max-width: 1200px;
}

.post-listing {
	padding: ($unit / 3) 0 0;
}

.post-listing__single {
	margin-bottom: 20px;
}

/*------------------------------------*\
    #Subpages
\*------------------------------------*/

.book-cover {
	margin: ($unit / 2) 0;
}

.post-header {
	margin-bottom: $unit;
	padding: ($unit / 2) $unit;

	@include at-query($one) {
		padding: $unit ($unit * 1.5);
		margin-bottom: $unit * 3;
	}
}

.subpage,
.subpage-custom {
	img {
		width: 100%;
	}
}

.subpage-body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 $unit;

	@include at-query($one) {
		padding: 0;
	}
}