/*------------------------------------*\
    #Mentor
\*------------------------------------*/

.mentor-hero {
 	margin: 0 -30px 30px;
}

.mentor-benefits__single {
	margin: 5px 0 10px 0;

	h3 {
		margin-bottom: 5px;
	}
}