/*------------------------------------*\
    #Mentor
\*------------------------------------*/

.btTxt {
	margin-top: 5px;

	@extend #mc-embedded-subscribe;
}

.mentor-benefits {
	margin: 20px 0 35px;

	@include at-query($one) {
		margin-bottom: 5px;
	}

	@include at-query($four) {
		margin: 60px 0 15px 0;
	}
}

.mentor-benefits__row {
	@include at-query($one) {
		column-count: 2;
		column-gap: 30px;
		margin-left: 9.285%;
	}

	@include at-query($three) {
		width: 72.142%;
	}
}

.mentor-benefits__single {
	margin: 5px 0 20px 0;

	h3 {
		margin-bottom: 5px;
	}

	@include at-query($one) {
		margin: 0 0 20px;
	}

	@include at-query($two) {
		margin-bottom: 30px;
	}
}

.mentor-consultation {
	background: url('/img/mentor/mentor-consultation.svg');
	background-repeat: no-repeat;
    background-size: 230%;
    background-position: -5px top;
    margin: 50px -30px 0;
    padding: 0 30px 50px 30px;

    h4 {
    	position: relative;
    	top: -20px;
    }

    @include at-query($one) {
    	padding: 10px 50px 50px 50px;
    }

    @include at-query($three) {
	    background-position: -5px 20px;
    	float: left;
    	margin: 0;
	    padding: 23px 60px 50px 60px;
    	width: 62.858%;

    	h4 {
    		margin-bottom: 10px;
    	}
    }
}

.mentor-header {
	margin: 0;

	h1 {
		margin-top: 25px;

		@include at-query($one) {
			margin-top: -65px;
		}

		@include at-query($three) {
			margin-top: -115px;
		}
	}

	.line-one {
		@include at-query($one) {
			right: 225px;
			top: 30px;
		}
		
		@include at-query($four) {
			right: 4994%;
		}
	}
}

.mentor-hero {
    margin: 0 -10%;
	position: relative;
    width: 120%;
	z-index: -1;

    @include at-query($one) {
    	margin: 0;
    	width: 100%;
    }
}

.mentor-hero-bg {
    margin-top: -60%;
    position: relative;
    left: 0px;
    width: 115%;
    z-index: -2;

    @include at-query($one) {
		margin: -68% 0 0 5%;
		width: 99%;
    }

    @include at-query($three) {
		margin: -54% 0 0 8%;
    }
}

.mentor-pc {
	@include clearfix;

	@include at-query($one) {
		margin-bottom: 50px;
	}

	@include at-query($three) {
		margin-bottom: 20px;
	}

	@include at-query($four) {
		margin-bottom: 150px;
	}
}

.mentor-pricing {
	margin: 0 0 30px;

	h6 {
		margin: 20px 0;
	}

	@include at-query($three) {
		float: left;
		padding-right: 50px;
		width: 37.142%;
	}
}

.mentor-pricing-num {
    font-family: $stack1;
    font-size: 10em;
    font-weight: 600;
    letter-spacing: -5px;
    line-height: 160px;
    margin: 45px 0 -50px -35px;
    text-align: center;

	.dollar {
	    font-size: 90px;
	    font-weight: 600;
	    margin-right: 0;
	    position: relative;
	    top: -50px;
	}
}

.mentor-pricing-sub {
	font-family: $stack1;
	font-style: italic;
	margin-bottom: 30px;
	text-align: center;
}

.mentor-students {
	margin: 10px 0 55px;

	@include at-query($three) {
	    margin: 10px auto 100px;
	}

	@include at-query($four) {
		margin-bottom: 200px;
	    width: 1400px;
	}
}

.mentor-students__body {
	background-color: $colorBGtwo;
	margin-bottom: -40px;

	h4 {
		position: relative;
		top: -55px;

		@include at-query($three) {
			margin-left: 9.285%;
		}
	}
}

.mentor-students__content {
	margin-top: -10px;
    padding-bottom: 1px;

    @include at-query($four) {
    	margin-top: 20px;
    }
}

.mentor-students__header,
.mentor-students__footer {
	background-repeat: no-repeat;
}

.mentor-students__footer {
	background-image: url('/img/mentor/mentor-student-footer.svg');
    background-size: 1400px 29px;
    background-repeat: repeat-x;
    height: 29px;
}

.mentor-students__header {
	background-image: url('/img/mentor/mentor-student-header.svg');
    background-size: 1400px 26px;
    background-repeat: repeat-x;
	height: 26px;
	margin: 0;
}

.mentor-toc {
	margin: 0 0 0 0;

	@include at-query($three) {
		margin-left: -25px;
	}

	@include at-query($three) {
		margin: 50px 0 100px -30px;
	}

	@include at-query($four) {
		margin-bottom: 190px;
	}

	h6 {
		margin: 0 0 20px 0;
	}

	.mentor-toc__list {
		padding: 0;

		li {
			margin: 0 0 15px;
		}

		.bullet {
			color: $colorAccent;
			margin-left: -23px;

			@include at-query($three) {
				margin-left: -30px;
			}
		}
	}
}

.mentor-toc__body {
	@include at-query($one) {
		margin-left: 9.285%;
	}

	@include at-query($three) {
		margin-left: 18.571%;
		width: 62.857%;
	}
}

.mentor-topics {
	@include at-query($three) {
		margin-bottom: 100px;
	}

	@include at-query($four) {
		margin-bottom: 200px;
	}
}

.mentor-work {
	margin: 50px 0 40px;
}

.mentor-work__body {
	background-color: $colorBGone;
	margin-bottom: -20px;

	h4 {
		position: relative;
		top: -60px;
	}
}

.mentor-work__content {
	margin-top: -30px;

	h3 {
		margin-bottom: 5px;
	}

	h4 {
		margin-bottom: 25px;
	}

	@include at-query($one) {
		margin-left: 9.285%;
	}

	@include at-query($three) {
		column-count: 3;
		column-gap: 30px;
		width: 81.428%;
	}
}

.mentor-work__header,
.mentor-work__footer {
	background-repeat: no-repeat;
}

.mentor-work__footer {
	background-image: url('/img/bg-watercolour-hpworkfooter.svg');
    background-size: 1600px 23px;
    background-repeat: repeat-x;
    height: 23px;
}

.mentor-work__header {
	background-image: url('/img/bg-watercolour-hpwork.svg');
    background-size: 1600px 32px;
    background-repeat: repeat-x;
	height: 32px;
	margin: 0;
}

.mentor-work__single {
	margin: 5px 0 20px 0;

	&.--last {
		padding-bottom: 10px;
	}

	@include at-query($three) {
		margin: 0 0 30px 0;

		&.--last {
			padding: 0;
		}
	}
}

.quote {
	margin-bottom: 40px;

	@include clearfix;

	@include at-query($four) {
		margin-bottom: 60px;
	}
}

.quote-avatar {
	margin: 0 auto 30px auto;
	width: 100px;

	@include at-query($two) {
		float: left;
		width: 16.428%;

		.--second & {
			float: right;
		}

		img {
			box-shadow: 0px 10px 30px rgba($colorShadow,0.2);
			position: relative;
				top: 40px;
				left: -30px;

			.--second & {
				left: 30px;
			}
		}
	}

	@include at-query($three) {
		width: 16.428%;

		img {
			left: -50px;

			.--second & {
				left: 50px;
			}
		}
	}

	@include at-query($four) {
		width: 16.428%;
	}
}

.quote-body {
	h6 {
		margin-bottom: 20px;
	}

	@include at-query($two) {
		float: left;
		margin-right: 9.285%;
		width: 74.285%;

		.--second & {
			margin-left: 9.285%;
			margin-right: 0;
		}
	}

	@include at-query($three) {
		width: 74.285%;
	}

	@include at-query($four) {
		width: 74.285%;
	}
}

.topic {
	max-width: 150px;
}

.topic-list {
	column-count: 2;
	column-gap: 30px;

	@include at-query($two) {
		column-count: 3;
	}

	@include at-query($three) {
		column-count: 6;
	}
}

.topic-single {
    margin-bottom: 40px;
	text-align: center;

    h6 {
    	font-size: 14px;
    	margin-bottom: 20px;
    }

    @include at-query($three) {
    	margin: 0;
    }
}