/*------------------------------------*\
    #Mentor
\*------------------------------------*/

.btTxt {
	margin-top: 5px;

	@extend #mc-embedded-subscribe;
}

.mentor-benefits {
	margin-bottom: 25px;
}

.mentor-benefits__single {
	margin: 5px 0 10px 0;

	h3 {
		margin-bottom: 5px;
	}
}

.mentor-consultation {
	background: url('/img/mentor-consultation.svg');
	background-repeat: no-repeat;
    background-size: 230%;
    background-position: -5px top;
    margin: 50px -30px 0;
    padding: 0 30px 50px 30px;

    h4 {
    	position: relative;
    	top: -20px;
    }
}

.mentor-header {
	margin: 0;

	h1 {
		margin-top: 25px;
	}
}

.mentor-hero {
    margin: 0 -10%;
    width: 120%;
}

.mentor-hero-bg {
    margin-top: -240px;
    position: relative;
    left: 0px;
    width: 115%;
    z-index: -1;
}

.mentor-toc {
	margin: 0 0 0 0;

	@include at-query($three) {
		margin-left: -25px;
	}

	@include at-query($four) {
		margin: 40px 0 50px -30px;
	}

	h6 {
		margin: 0 0 20px 0;

		@include at-query($three) {
			margin-left: 30px;
		}
	}

	.mentor-toc__list {
		padding: 0;

		li {
			margin: 0 0 15px;
		}

		.bullet {
			color: $colorAccent;
			margin-left: -20px;
		}
	}
}

.mentor-work {
	margin: 50px 0 40px;
}

.mentor-work__body {
	background-color: $colorBGone;
	margin-bottom: -20px;

	h4 {
		position: relative;
		top: -50px;
	}
}

.mentor-work__content {
	margin-top: -30px;

	h3 {
		margin-bottom: 5px;
	}

	h4 {
		margin-bottom: 25px;
	}
}

.mentor-work__header,
.mentor-work__footer {
	background-repeat: no-repeat;
}

.mentor-work__footer {
	background-image: url('/img/bg-watercolour-hpworkfooter.svg');
    background-size: 1600px 23px;
    background-repeat: repeat-x;
    height: 23px;
}

.mentor-work__header {
	background-image: url('/img/bg-watercolour-hpwork.svg');
    background-size: 1600px 32px;
    background-repeat: repeat-x;
	height: 32px;
	margin: 0;
}

.mentor-work__single {
	margin: 5px 0 20px 0;

	&.--last {
		padding-bottom: 10px;
	}
}

.mentor-students {
	margin: 10px 0 55px;
}

.mentor-students__body {
	background-color: $colorBGtwo;
	margin-bottom: -40px;

	h4 {
		position: relative;
		top: -45px;
	}

	.avatar {
		margin: 0 auto 30px auto;
		width: 100px;

		img {
			border-radius: 999%;
		}
	}
}

.mentor-students__content {
	margin-top: -10px;
    padding-bottom: 1px;
}

.mentor-students__header,
.mentor-students__footer {
	background-repeat: no-repeat;
}

.mentor-students__footer {
	background-image: url('/img/mentor-student-footer.svg');
    background-size: 1400px 29px;
    background-repeat: repeat-x;
    height: 29px;
}

.mentor-students__header {
	background-image: url('/img/mentor-student-header.svg');
    background-size: 1400px 26px;
    background-repeat: repeat-x;
	height: 26px;
	margin: 0;
}

.mentor-pricing {
	margin: 0 0 30px;

	h6 {
		margin-bottom: 10px;
	}
}

.mentor-pricing-num {
    font-family: $stack1;
    font-size: 10em;
    font-weight: 600;
    letter-spacing: -5px;
    line-height: 160px;
    margin: 45px 0 -50px -35px;
    text-align: center;

	.dollar {
	    font-size: 90px;
	    font-weight: 600;
	    margin-right: 0;
	    position: relative;
	    top: -50px;
	}
}

.mentor-pricing-sub {
	font-family: $stack1;
	font-style: italic;
	margin-bottom: 30px;
	text-align: center;
}

.quote {
	margin-bottom: 40px;
}

.quote-body {
	h6 {
		margin-bottom: 20px;
	}
}

.topic {
	max-width: 150px;
}

.topic-list {
	column-count: 2;
	column-gap: 30px;

	@include at-query($two) {
		column-count: 3;
	}

	@include at-query($three) {
		column-count: 6;
	}
}

.topic-single {
    margin-bottom: 40px;
	text-align: center;

    h6 {
    	margin-bottom: 20px;
    }
}