/*------------------------------------*\
    #Subpages
\*------------------------------------*/

.book-cover {
	margin: ($unit / 2) 0;
}

.page-nav-cond {
	@include at-query($one) {
		display: none;
	}
}

.page-nav-ex {
	display: none;

	@include at-query($one) {
		display: inline-block;
	}
}

.post-header {
	margin-bottom: $unit;
	padding: ($unit / 2) $unit;

	@include at-query($one) {
		padding: $unit ($unit * 1.5);
		margin-bottom: $unit * 3;
	}
}

.subpage,
.subpage-custom {
	img {
		width: 100%;
	}
}

.subpage-body {
	margin: 0 auto;
	max-width: 1040px;
	padding: 0 $unit;
}