/*------------------------------------*\
    #Subpages
\*------------------------------------*/

.book-cover {
	margin: ($unit / 2) 0;
}

.page-nav-cond {
	@include at-query($two) {
		display: none;
	}
}

.page-nav-ex {
	display: none;

	@include at-query($two) {
		display: inline-block;
	}
}

.post-header {
	margin-bottom: $unit;
	padding: ($unit / 2) $unit;

	@include at-query($one) {
		padding: $unit ($unit * 1.5);
	}

	@include at-query($two) {
		margin-bottom: $unit * 6;
	}
}

.post-footer {
	border-bottom: 0;
	border-top: 1px solid rgba($colorAccent,0.2);
	margin-top: ($unit * 3);
	margin-bottom: 0;
	padding: ($unit / 2) $unit;

	p {
		margin: 0;
	}

	@include at-query($one) {
		padding: $unit ($unit * 1.5) ($unit * 1.5);
	}

	@include at-query($two) {
		margin-top: $unit * 4;

		p {
			max-width: 450px;
			margin: 0 auto;
		}
	}
}

.subpage,
.subpage-custom {
	img {
		width: 100%;
	}
}

.subpage-body {
	margin: 0 auto;
	max-width: 1040px;
	padding: 0 $unit;
}
