/*------------------------------------*\
    #Tag page
\*------------------------------------*/

.tagpage .post-listing {
	background-color: transparent;
	margin-top: 30px;
	padding: 0;
	position: initial;

	@include at-query($two) {
		height: auto;
		margin-top: 50px;
		overflow-y: auto;
		position: initial;
	}
}

.tagpage {
	background-color: $colorBGPost;

	.small {
		margin-top: 0;
	}
}

.tagpage-body {
	padding: $unit;
	max-width: 1040px;
	margin: 0 auto;

	@include at-query($one) {
		padding: $unit * 2.5;
	}

	@include at-query($two) {
		padding: 0 ($unit * 2.5) ($unit * 5);
	}
}

.tags-table .tag {
	margin-right: $unit;
}
