/*------------------------------------*\
    #Typography
\*------------------------------------*/

body,
html {
	font-family: $stack1;
}

body {
	padding-bottom: $unit;
}

a {
	color: $colorLink;
	text-decoration: none;

	&:hover {
		border-color: #fff;
		color: $colorTextBody;
	}

	&.casestudy {
		display: block;
	}

	&.small {
		line-height: em(18px);
	}

	@include transition;
}

h1, h2, h3, h4, h5, h6 {
	color: $colorTextHeader;
	font-weight: 300;

	a {
		border: 0;
		display: inline;
	}
}

h2, h3 {
	font-family: $stack1;
}

h1 {
	font-family: $stacksuper;
	font-size: em(50px);
	margin: 0;
}

h2 {
	color: $colorAccent;
	font-size: em(28px);
	font-style: italic;
	margin: 0 0 15px;

	&.darker {
		color: $colorTextHeader;
		text-transform: lowercase;
	}
}

h3 {
	font-size: 20px;
	line-height: em(22px);
	margin: ($unit / 3) 0 ($unit / 6);

	.case-study__body & {
		font-weight: 600;
		margin: 0;
	}
}

h5 {
	color: $colorAccent;
	font-family: $stack2;
	font-size: em(13px);
	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
}

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

p,
ol li,
ol li p,
ul li,
ul li p {
	color: $colorTextBody;
	font-size: em(16px);
	line-height: em(26px);
	margin: 0 0 ($unit / 2);

	a {
		border-bottom: 1px solid $colorLink;
	    display: inline-block;
    	line-height: ($unit / 3);
	}

	.case-study__body & {
		margin: 0;
	}

	.hp-bio & {
		margin: 0 ($unit / 2) ($unit / 2) ($unit / 2); 
	}

	&.small {
		font-family: $stack2;
		font-size: em(13px);
	}
}

.hp-goals p {
	font-family: $stack2;
	font-size: em(14px);
	margin: 0;
}

.hp-appearances ul {
	margin: 0; 
	padding: 0;

	li {
		list-style-type: none;
	}
}

.small a {
	display: inline;
}

input {
	background-color: #fff;
	border: 0;
    font-family: $stack2;
    font-size: em(13px);
    margin: 0;
    padding: 8px 15px 10px;
    width: 100%;
}

// .wf-loading h1,
// .wf-loading h2,
// .wf-loading h3,
// .wf-loading h4,
// .wf-loading h5,
// .wf-loading p {
// 	visibility: hidden;
// }

// .wf-active h1,
// .wf-active h2,
// .wf-active h3,
// .wf-active h4,
// .wf-active h5,
// .wf-active p {
// 	visibility: visible;
// }

// 	&.alarming {
// 		color: $colorAccent;
// 		font-family: $stack2;
// 		font-size: 18px;
// 		font-weight: 600;
// 		line-height: 0;
// 		text-transform: uppercase;
// 	}

// 	&:hover {
// 		color: $colorTextBody;

// 		footer & {
// 			color: #fff;
// 		}
// 	}

// 	&.external {
//     	color: #000000;
// 	}

// 	& .external-body {
// 		background: url(/img/linkunderline.png) repeat-x;
//     	background-size: 6px;
//     	background-position: 0 25px;

// 		.fieldnotes & {
// 			background: url(/img/linkunderline.png) repeat-x;
// 		    background-size: 6px;
//     		background-position: 0 22px;
// 		}
// 	}

// 	& .external-box {
// 	    display: inline-block;
// 	    border: 1px solid $colorAccent;
// 	    height: 13px;
// 	    width: 11px;
// 	    margin: 0 6px 0 3px;
// 	    position: relative;
// 	    bottom: -6px;

// 	    .fieldnotes & {
// 	    	top: 8px;
// 	    }
// 	}

// 	& .external-box__arrow {
// 		color: $colorAccent;
// 		font-size: em(10px);
// 	    font-weight: bold;
// 	    margin: 0 0 -2px 0;
// 	    position: relative;
// 	    bottom: 13px;
// 	    left: 2px;

// 	    .fieldnotes & {
// 	    	font-size: em(16px);
// 	    	bottom: 12px;
// 	    	left: 0;
// 	    }
// 	}

// 	@include transition;
// }

// blockquote {
// 	border: 5px solid $selection;
// 	border-width: 0 0 0 5px;
// 	margin: 20px 0 $unit;
// 	padding: 20px 0 ($unit / 3);

// 	p {
// 		font-style: italic;
// 		margin: 0 $unit ($unit / 2);
// 	}
// }

// blockquote.large {
// 	border: 0;
// 	padding: 0;
// 	margin: ($unit / 2) 0;

// 	p {
// 		font-size: em(22px);
// 		font-style: normal;
// 		font-weight: 600;
// 		line-height: 32px;
// 		margin: 0;
// 	}

// 	@include at-query($one) {
// 		margin: $unit 0;
// 		text-align: center;

// 		p {
// 			font-size: em(26px);
// 			line-height: 38px;
// 		}
// 	}
// }

// pre,
// code {
//     background-color: #efefef;
//     color: #6e8b9d;
//     padding: 5px 10px;
//     border-radius: 3px;
// }

// code {
// 	font-size: em(12px);

// 	pre & {
// 		font-size: em(16px);	
// 	    line-height: 24px;
// 	    padding: 0;
// 	    word-wrap: break-word;
// 	}
// }

// pre {
// 	padding: 15px 20px;
// 	white-space: pre-wrap;       /* css-3 */
// 	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
// 	white-space: -pre-wrap;      /* Opera 4-6 */
// 	white-space: -o-pre-wrap;    /* Opera 7 */
// 	word-wrap: break-word;       /* Internet Explorer 5.5+ */
// }

// figure {
// 	margin: $unit (-$unit) $unit (-$unit);
// }

// figure.hero {
// 	margin: 0 (-$unit) 50px;
// }

// figure.left {
// 	margin-top: $unit * 1.5;
// }

// figure.sep {
// 	margin: 20px -20px;
// }

// figcaption {
// 	color: $colorTextSubtle;
// 	font-family: $stack2;
// 	font-size: em(16px);
// 	line-height: 25px;
// 	margin: 10px $unit ($unit / 2);

// 	.hero & {
// 		margin-top: 0;
// 	}

// 	@include at-query($one) {
// 		text-align: center;
// 	}
// }

// hr {
// 	border: 0;
// 	border-bottom: 3px solid $colorAccent;
// 	border-radius: 999px;
// 	margin: $unit auto 40px;

// 	@include at-query($two) {
// 		margin: $unit auto;
// 	}
// }

// hr.small {
// 	width: ($unit * 2);
// }

// hr.noborder {
// 	border-color: transparent;
// }

// input {
// 	height: 58px;
// 	background-color: transparent;
// 	border: 3px solid #d5d7d8;
// 	color: $colorTextSubtle;
// 	font-family: $stack2;
// 	font-size: em(18px);
// 	font-weight: 600;
// 	line-height: 25px;
// 	margin-bottom: 30px;
// 	padding: 15px 20px;
// 	width: 100%;

// 	&.button {
// 		background-color: $colorButton;
// 		border: 0;
// 		color: $colorAccent;
// 		text-transform: uppercase;

// 		&:hover {
// 			background-color: lighten($colorButton, 5%);

// 			@include transition;
// 		}
// 	}

// 	&.dramatic {
// 		border-color: rgba(#d5d7d8,0.2);
// 		color: #fff;

// 		@include at-query($two) {
// 			height: 80px;
// 			padding: 15px 40px;
// 			margin-bottom: 10px;			
// 		}
// 	}
// }

// .picker-upper {
// 	position: relative;
// 	top: -2px;
// }

// .fieldnotes {
// 	p {
// 		color: $colorTextSubtle;
// 		font-family: $stack2;
// 		font-size: em(16px);
// 		line-height: 25px;
// 	}
// }

// .fieldnotes-anchor {
//     bottom: 6px;
//     color: $colorAccent;
//     font-family: $stack2;
//     font-size: em(12px);
//     font-weight: bold;
//     letter-spacing: 2px;
//     line-height: 25px;
//     margin-left: 4px;
//     position: relative;
// }

// .footnote {
// 	letter-spacing: 2px;
// }

// .footnote-back {
// 	position: relative;
// 	top: 3px;	
//     margin-left: -20px;
// }

// .filter--off {
// 	opacity: 0.5;

// 	@include transition;
// }

// #mce-success-response,
// #mce-error-response {
// 	margin-bottom: 30px;
// }