<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2014-01-18-the-future-of-ui.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29433399</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-25-this-is-water.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435199</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-07-16-JIBO.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435098</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-09-19-from-the-desk.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435098</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-12-08-deliberate-practice.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435003</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-08-13-letstalkmoney.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435003</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-08-26-designasart.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435003</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-11-thenightimet.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434901</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-21-threeweeks.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434901</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-30-wearingyesterday.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434901</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-08-themoon.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434103</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-12-twoyears.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.294348</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-23-techlife.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.294348</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-07-gamifytoproduct.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434699</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-01-2015waspineapples.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434699</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-13-46books.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434597</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-14-aloveletter.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434001</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-24-yearlythemes.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434001</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-10-adjustments.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434597</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-15-bearsandclocks.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434597</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-01-thepath.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434502</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-28-everythingsgreat.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434502</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-03-designeducation.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434401</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-11-thegreatestgift.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434401</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-21-theweightwords.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.294339</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-24-experiment001.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29433697</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-30-maintainingsanity.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.294339</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-01-experiment002.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29433697</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-06-goalsetting.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434401</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-13-experiment003.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29433602</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-13-yourown.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434299</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-20-experiment004.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29433602</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-20-whatismanagement.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29433799</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-27-threepictures.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29433799</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-30-experiment005.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29433501</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-04-payingattention.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434299</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-11-sixsixfive.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29433697</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-18-quickcareeradvice.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434299</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-21-experiment006.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29433501</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-25-dontquit.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434198</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-01-beautyintheimmeasurables.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434198</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-08-rinseandrepeat.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29434103</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-15-dealingwithfeedback.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435199</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-22-validation.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435402</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-29-tradingforcompassion.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435402</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-05-gettingoutofyourownway.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435301</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-12-erasingpassion.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435301</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-19-realandimagined.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435199</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-26-youvegraduated1 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>496854608.50278699</real>
				<key>lastModification</key>
				<real>496854608.50278699</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2016-09-26-youvegraduated1.md</key>
			<dict>
				<key>lastModification</key>
				<real>496854588.29435498</real>
				<key>version</key>
				<dict>
					<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-01-18-the-future-of-ui.md</string>
		</array>
		<array>
			<string>2016-07-21-experiment006.md</string>
		</array>
		<array>
			<string>2016-06-30-experiment005.md</string>
		</array>
		<array>
			<string>2016-06-20-experiment004.md</string>
		</array>
		<array>
			<string>2016-06-13-experiment003.md</string>
		</array>
		<array>
			<string>2016-06-01-experiment002.md</string>
		</array>
		<array>
			<string>2016-05-24-experiment001.md</string>
		</array>
		<array>
			<string>2016-07-11-sixsixfive.md</string>
		</array>
		<array>
			<string>2016-06-27-threepictures.md</string>
		</array>
		<array>
			<string>2016-06-20-whatismanagement.md</string>
		</array>
		<array>
			<string>2016-05-30-maintainingsanity.md</string>
		</array>
		<array>
			<string>2016-05-21-theweightwords.md</string>
		</array>
		<array>
			<string>2016-02-24-yearlythemes.md</string>
		</array>
		<array>
			<string>2016-02-14-aloveletter.md</string>
		</array>
		<array>
			<string>2015-11-08-themoon.md</string>
		</array>
		<array>
			<string>2016-08-08-rinseandrepeat.md</string>
		</array>
		<array>
			<string>2016-08-01-beautyintheimmeasurables.md</string>
		</array>
		<array>
			<string>2016-07-25-dontquit.md</string>
		</array>
		<array>
			<string>2016-07-18-quickcareeradvice.md</string>
		</array>
		<array>
			<string>2016-07-04-payingattention.md</string>
		</array>
		<array>
			<string>2016-06-13-yourown.md</string>
		</array>
		<array>
			<string>2016-06-06-goalsetting.md</string>
		</array>
		<array>
			<string>2016-05-11-thegreatestgift.md</string>
		</array>
		<array>
			<string>2016-05-03-designeducation.md</string>
		</array>
		<array>
			<string>2016-04-28-everythingsgreat.md</string>
		</array>
		<array>
			<string>2016-04-01-thepath.md</string>
		</array>
		<array>
			<string>2016-03-15-bearsandclocks.md</string>
		</array>
		<array>
			<string>2016-03-10-adjustments.md</string>
		</array>
		<array>
			<string>2016-01-13-46books.md</string>
		</array>
		<array>
			<string>2016-01-01-2015waspineapples.md</string>
		</array>
		<array>
			<string>2015-12-07-gamifytoproduct.md</string>
		</array>
		<array>
			<string>2015-11-23-techlife.md</string>
		</array>
		<array>
			<string>2015-11-12-twoyears.md</string>
		</array>
		<array>
			<string>2015-10-30-wearingyesterday.md</string>
		</array>
		<array>
			<string>2015-10-21-threeweeks.md</string>
		</array>
		<array>
			<string>2015-09-11-thenightimet.md</string>
		</array>
		<array>
			<string>2015-08-26-designasart.md</string>
		</array>
		<array>
			<string>2015-08-13-letstalkmoney.md</string>
		</array>
		<array>
			<string>2014-12-08-deliberate-practice.md</string>
		</array>
		<array>
			<string>2014-09-19-from-the-desk.md</string>
		</array>
		<array>
			<string>2014-07-16-JIBO.md</string>
		</array>
		<array>
			<string>2014-06-25-this-is-water.md</string>
		</array>
		<array>
			<string>2016-08-15-dealingwithfeedback.md</string>
		</array>
		<array>
			<string>2016-09-19-realandimagined.md</string>
		</array>
		<array>
			<string>2016-09-12-erasingpassion.md</string>
		</array>
		<array>
			<string>2016-09-05-gettingoutofyourownway.md</string>
		</array>
		<array>
			<string>2016-08-29-tradingforcompassion.md</string>
		</array>
		<array>
			<string>2016-08-22-validation.md</string>
		</array>
		<array>
			<string>2016-09-26-youvegraduated1.md</string>
		</array>
		<array>
			<string>2016-09-26-youvegraduated1 - 2.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>d3cd88527521bf0009689d6c8773c45b5c99b36ac17cc6213ef395a1079d8295</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
