@mixin clearfix {
    &:before,&:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin transition {
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

@mixin transition-fast {
  -webkit-transition: all 0.25s ease-out;
     -moz-transition: all 0.25s ease-out;
       -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
}

@mixin at-query ($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@function em($target, $context: $baseFontSize) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0em;
}

/*------------------------------------*\
    #Animations
\*------------------------------------*/

@keyframes arrowbounce {
  0%, 100%, 40%, 80% {
    transform: translateY(0)
  }
  20% { transform: translateX(-10px) }
  60% { transform: translateX(-5px) }
}