{% include header.html %}

{% include nav-subpage.html %}

<div class="post-container">

	<h1 class="text-center"
		data-aos="fade-up" 
		data-aos-duration="800"
		data-aos-easing="ease-out-quad">{{ page.title }}</h1>
	<p class="time text-center"
		data-aos="fade-up" 
		data-aos-duration="800"
		data-aos-easing="ease-out-quad">Published {{ page.date | date:'%B %Y' }}</p>

	<div class="post-single__body" 
		data-aos="fade-up" 
		data-aos-delay="300"
		data-aos-duration="800"
		data-aos-easing="ease-out-quad">
		
		{{ content }}
	</div>
</div>

{% include nav-subpage.html %}

{% include footer.html %}