<!DOCTYPE html>
    {% include header.html %}
    <body class="blog">

        <div class="content">
            <div class="wrapper">
                <div class="writing">
                    <div class="h6 meta breadcrumb text-center">
                        <a href="../../../">Home</a> <span class="separator">></span> {{ page.title }}
                    </div>

                    <article class="writing__single">
                        <header class="writing-single__header text-center">
                            <h1 class="writing-single__title">{{ page.title }}</h1>
                            <hr class="seperator small">
                            <h6 class="meta"><time datetime="{{ page.date }}">{{ page.date | date: "%B %d %Y" }}</time> • {% for tag in page.tags %}<a href="/tag/{{tag}}/" rel="tag">{{tag}}</a>{% if forloop.last != true %}, {% endif %}{% endfor %}{% if page.medium %} • <a href="{{ page.medium }}">Comment on Medium</a>{% endif %}</h6>
                        </header>
                        {{ content }}
                    </article>
                </div>

                <div class="tags">
                    <h5 class="tags__header">All Posts</h5>

                    <ul class="tags__listing">
                        {% for tag in site.tags %} 
                        <li class="h6"><a href="/tag/{{ tag[0] }}">{{ tag[0] }}</a> <span class="tags__size">({{ tag[1].size }})</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% include footer.html %}

        </div>
            
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</html>