<!DOCTYPE html>
    {% include header.html %}
    <body class="project load">

      <header class="project-cover">
        <img src="/img/project/{{ page.header }}" alt="{{ page.title }}" class="header-img">
        <div class="project-coverdark"></div>
          <div class="project-header">
            <div class="project-title">
              <h1>{{ page.title }}</h1>
            </div>
          </div>
          <div class="project-info">
            <hr class="hr--small">
            {% if page.partner_one %}
              <a href="{{ page.partner_oneurl }}" class="partner-link"><img src="{{ page.partner_oneimg }}" class="partner-avvie" alt="{{ page.partner_one }}"></a>
            {% endif %}
            <p><span class="byline">Worked with</span> <a href="{{ page.partner_oneurl }}">{{ page.partner_one }}</a> <span class="byline">at</span> <a href="{{ page.clienturl }}">{{ page.client }}</a></p>
          </div>
        </div>
      </header>
      <div class="project-info project-info--mobile">
        {% if page.partner_one %}
          <a href="{{ page.partner_oneurl }}" class="partner-link"><img src="{{ page.partner_oneimg }}" class="partner-avvie" alt="{{ page.partner_one }}"></a>
        {% endif %}
        <p><span class="byline">Worked with</span> <a href="{{ page.partner_oneurl }}">{{ page.partner_one }}</a> <span class="byline">at</span> <a href="{{ page.clienturl }}">{{ page.client }}</a></p>
      </div>

      <div class="project__body load">
        {{ content }}
      </div>

      <footer class="project-footer">
        <a href="/" class="btn back">Back home</a>
        <a href="http://twitter.com/tranhelen" class="btn twitter" onclick="_gaq.push(['_trackPageview', '{{ post.url }}']);"><span class="byline">Follow</span> @tranhelen</a>
        </div>
      </footer>
            
    </body>
    {% include footer.html %}
</html>