<!DOCTYPE html>
    {% include header.html %}
    <body class="subpage-simple">

      <header class="project-header">
        {% if page.previous %}
          <a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }} </a>
        {% endif %}
        {% if page.next %}
          <a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
      </header>

      <div class="project__body">
        {{ content }}
      </div>

      <footer class="project-footer">
        <a href="/" class="btn back">Back home</a>
        <a href="http://twitter.com/tranhelen" class="btn twitter"><span class="byline">Follow</span> @tranhelen</a>
        </div>
      </footer>

    </body>
    {% include footer.html %}
</html>
