    {% include header.html %}

    <body class="subpage load">

      {% include navigation.html %}

      <div class="subpage-body">
        {% if page.hero %}
          <figure class="hero">
            <img src="/img/post/{{ page.hero }}">
            {% if page.hero_caption %}
              <figcaption>{{ page.hero_caption }}</figcaption>
            {% else %}
              <p>&nbsp;</p>
            {% endif %}
          </figure>
        {% endif %}
        
        {% include post-header.html %}

        <div class="grid grid--full">
          <div class="grid__item push--one--two-twelfths one--eight-twelfths push--two--two-tenths two--six-tenths">

          {{ content }}
          </div>
       </div>
    
      </div>

    {% include toc.html %}

    {% include mailinglist.html %}
    
    {% include footer.html %}