<!DOCTYPE html>
    {% include header.html %}
    <body class="subpage">

      {% include navigation.html %}

      <div class="subpage-body">

        <div class="grid two--table">
          <div class="grid__item one--one-quarter two--table-cell two--table-bottom">

            <div class="subpage-meta">
                <p>This post is filed under
                <br><span class="h6"><a href="/tag/{{ page.tag }}" class="post-tag">{{ page.tag }}</a></span></p>
                <p>Published
                <br><span class="h6">{{ page.date | date:'%B %Y' }}</span></p>
            </div>
          
          </div>
          <div class="grid__item one--three-quarters two--table-cell">
          
            <figure class="hero">
              <img src="/img/post/{{ page.hero }}">
              <figcaption>{{ page.hero_caption }}</figcaption>
            </figure>
          
          </div>
        </div>

        <h1>{{ page.title }}</h1>
        
        {{ content }}
      </div>

      <footer class="post-footer">
        <div class="grid">
          <div class="grid__item one-quarter">
            <a href="/" class="btn">Home</a>
          </div>
          <div class="grid__item three-quarters text-right">
            <a href="http://twitter.com/tranhelen" class="btn twitter"><span class="byline">Follow</span> @tranhelen</a>
          </div>
        </div>
      </footer>

    </body>
    {% include footer.html %}
</html>
