    {% include header.html %}

    <body class="subpage">

      {% include navigation.html %}

      <div class="subpage-body">
        {% if page.hero_caption %}
          <figure class="hero">
            <img src="/img/post/{{ page.hero }}">
            <figcaption>{{ page.hero_caption }}</figcaption>
          </figure>
        {% endif %}
        
        {% include date.html %}
        <h1>{{ page.title }}</h1>

        <div class="grid grid--full">
          <div class="grid__item push--one--one-tenth one--eight-tenths push--two--two-tenths two--six-tenths">

          {{ content }}
          </div>
       </div>
    
      </div>

    {% include toc.html %}
    
    {% include footer.html %}